[2018-09-26 20:50] amueller opened #1 "tree plotting"
This might be relevant to your interests possibly:
https://github.com/scikit-learn/scikit-learn/pull/9251

btw, animl is impossible to google ;)

[2018-09-26 22:09] kmike opened #2 "consider limiting the scope of the library"
Hey! I came here from the http://explained.ai/decision-tree-viz/index.html article (which is a great write-up 👍). One thing bothered me => unsolicited suggestion.

In the README you have:

From an user perspective: why not have a package just for tree visualization and interpretation, and have this planned "python machine learning library to agument scikit-learn" depending on a tree visualization

[2018-09-26 23:38] parrt commented on #1
oh great! Yeah, the tree layout is much better. will take a look.  yeah, animl is cool name, shitty search keyword :(

[2018-09-27 04:00] metasyn opened #3 "enormous repo size (~400mb)"
Hey - interesting project. Just git cloned it to check out some things and realized it was taking a lot longer than expected, especially given I had already seen the number of files in the github UI. So after cloning:

[code]
gives
[code]

A lot of it looks like duplicates of these images in the history:

[code]
(from https://stackoverflow.com/a/42544963)
gives
[code]

Maybe one of these answers c

[2018-09-27 04:01] parrt commented on #3
Yeah, sorry. it's those damn samples :(  i wanted them around for people to see a gallery but gees they are big. (resisting XML/SVG target practice here...)

[2018-09-27 04:10] metasyn commented on #3
I think having the samples makes sense - but you can see you actually have 3 copies of the same file in git history:

[code]

where `testing/samples` is not big:

[code]

Heh, obviously your call. I think it took me 6 minutes to clone, I actually think it might impact people's interest over time. It might be pretty frustrating for people that don't have decent internet connections. Maybe I should'

[2018-09-27 13:35] tdgunes opened #4 "Warning: No loadimage plugin for "svg:cairo""
Hello there,

I am trying to plot iris dataset in Ubuntu 18.04 bionic, with `graphviz` package installed. However I am getting `svg:cairo` warnings and there only arrows with empty boxes. The warnings that I am getting:
[code]

The figure looks like this:
![2018-09-27-143948_4680x1920_scrot](https://user-images.githubusercontent.com/136392/46149933-4fbae780-c263-11e8-9432-aba1b1952c65.png)

[2018-09-27 15:50] parrt opened #5 "Tree spine view"
Perhaps a view of tree that showed only path from root to leaf for specific test vector would be useful.

[2018-09-27 17:10] parrt commented on #4
howdy! yes,This is exactly the problem I ran into on the Macintosh.  apparently being able to generate SVG is not the same thing as being able to read the men. And I use matplotlib to generate the individual nodes and then read them in using graphviz.  On the Mac I had to explicitly install graphviz with librsvg:

[code]

hopefully there is something similar on Ubuntu

[2018-09-27 18:30] amueller commented on #1
Actually the tree layout in graphviz uses an optimization procedure to
squish it as much as possible, leading to much more compact trees.
But that was kinda hard to implement.
For educational purposes the more obvious layout that I ~copy and pasted~
implemented might indeed be better though.

Send from my phone. Please excuse spelling and brevity.

On Wed, Sep 26, 2018, 19:38 Terence Parr <notific

[2018-09-27 20:07] tdgunes commented on #4
I tried installing many combinations packages (including librsvg) but I guess there is an issue with Ubuntu's `graphviz` package. Someone reported this issue for a similar problem [here](https://github.com/ellson/MOTHBALLED-graphviz/issues/1294).  I guess the only way to solve this issue is to compile `graphviz` from scratch in Debian platforms for now.

[2018-09-28 00:04] parrt commented on #4
Can you check out this [thread on twitter](https://twitter.com/hampsonw/status/1045418610410188800)?  somebody is trying to install on Windows / ubuntu.

[2018-09-28 00:11] parrt commented on #1
For my ANTLR work, I did my own tree layout (errr...donated cash to a smart German guy to do it) but it works very well; must be same algorithm. See [treelayout](http://treelayout.sourceforge.net/)

<img src="https://cdn-images-1.medium.com/max/1760/1*k0mO4kJyQvPCyyev0nn_EQ.png">

Oh right. It uses Walker’s algorithm with enhancements suggested by Buchheim, Jünger, and Leipert. This layout is not

[2018-09-28 00:32] parrt commented on #3
Hmmm...I looked at people's suggestions for removing previous versions of large files and it's pretty terrifying. Maybe the easiest thing to do is simply destroy the repository and copy the files fresh to simulate a depth of one.  I'm not in love with my trail of dead code and commit messages so it would not be a huge loss.   This might depend on what I do in response to [this issue](https://githu

[2018-09-28 00:42] parrt commented on #4
Just found this for different tool. "On Ubuntu Linux you'd do: $ sudo apt-get install python-dev python-setuptools graphviz plotutils librsvg2-bin"  Does that help?  https://github.com/wernight/scruffy-server/blob/master/README.md

[2018-09-28 01:02] tdgunes commented on #4
Sorry, but I am still having the same plot.

[2018-09-28 03:31] parrt commented on #4
hm...did you uninstall then reinstall all that crap? i'll try spinning up a linux box soon

[2018-09-28 03:37] tdgunes commented on #4
I have just created [a bug report](https://bugs.launchpad.net/ubuntu/+source/graphviz/+bug/1794911) for Ubuntu. For some reason, `graphviz` debian packages are compiled with `--without-rsvg`. I made a request to change it. As far as I understand from their package definitions, there shouldn't be any problem with latest Debian and Fedora installations, which the flag is enabled as default.

Also, f

[2018-09-28 21:54] Whamp opened #6 "white space in feature names don't work"
See pictures for code and Viz result.

I think the issue may be that my feature names contain spaces. Is it possible this could be causing issues ?

I'm running this on MacOS X Mojave, Jupyter Lab, Anaconda 5.2

An example feature name is '12M Realized Volatility_Amean'
![delimiter error](https://user-images.githubusercontent.com/1115485/46235223-3c288300-c32e-11e8-9109-888f82b8d8a7.PNG)

![viz re

[2018-09-29 02:00] parrt commented on #1
Seems like @amueller's [tree layout impl](https://github.com/scikit-learn/scikit-learn/blob/1a9a87453440177edf6012f8c2fbf64f81955188/sklearn/tree/_reingold_tilford.py) might be the answer to avoid DOT/graphviz altogether. I'll have to do my own node sizing based up importing SVG manually, but seems workable.

[2018-09-29 02:16] parrt commented on #1
The other approach is to use dot to compute the layout but generate our own SVG for the arrows (easy). To avoid graphviz trying to load svg (the problem we're trying to solve), we can fake it by describing a node with same viewbox as SVG file and just get the layout from graphviz, then generate our own SVG with embedded SVG nodes generated from matplotlib.

[2018-09-29 07:02] somous-jhzhao opened #7 "problems of empty data in the output fig"
Your project of visualization-interpretation is very interesting and meaningful. I had a problem when I output the fig for visualization. The data/diagrams in the output fig was empty with only a framework. I tried to find the problem but I failed. Have any others had this problem? could you please help me solve this problem? Thank you!

[2018-09-29 07:13] somous-jhzhao commented on #7
Besides, I run this

[2018-09-29 07:13] #7 closed

[2018-09-29 08:17] somous-jhzhao commented on #4
I have the same problem on windows 10. Did anyone solved this problem?

[2018-09-29 14:13] parrt commented on #4
I'm going to solve this by avoiding need to import svg. See my latest comments here https://github.com/parrt/animl/issues/1

[2018-09-29 15:30] parrt commented on #3
I'm going to rename this repo to dtreeviz and squash all commits. :)

[2018-09-29 15:31] parrt commented on #2
I'm going to rename to dtreeviz. :)

[2018-09-29 15:57] parrt commented on #3
Closing as I fixed with https://github.com/parrt/dtreeviz/commit/8411604390803ccd183b8b100b8920d30587d2e1

[2018-09-29 15:57] #3 closed

[2018-09-29 15:57] parrt commented on #2
Fixed with https://github.com/parrt/dtreeviz/commit/8411604390803ccd183b8b100b8920d30587d2e1 renamed library to dtreeviz, adjusted packages and notebooks and readme.

[2018-09-29 15:57] #2 closed

[2018-09-29 15:58] parrt commented on #6
Ah! Must be spaces in the name, yes!!!  Noted.

[2018-09-29 16:33] kmike commented on #2
Thanks a ton @parrt!

[2018-09-30 02:38] parrt commented on #4
Can you do me a favor check if `dot -Tsvg:cairo t.dot > t.svg` works on some t.dot like

[code]
?? I hope it works to generate svg via cairo even if it can't read. @tdgunes
thanks!

[2018-09-30 02:57] parrt commented on #4
Unfortunately from that link by @tdgunes It looks like -Tsvg:cairo also won't work. damn!

 can you guys verify at least that `dot -Tsvg` works?

[2018-09-30 03:36] BashfulBandit commented on #4
@parrt I have already contacted the Debian package maintainer for the graphviz package. He has already changed the packing to include librsvg. It is now available in Debian Buster.

[2018-09-30 04:51] KienVu2368 commented on #4
@BashfulBandit can I install graphviz in Ubuntu to avoid this error?

[2018-09-30 11:44] BashfulBandit commented on #4
@KienVu2368 Ubuntu is based off of Debian and uses the same package manager as Debian, so at some point, yes. I don't know how exactly Ubuntu and Debian packages work together though, so I don't know when Ubuntu will be using Debian Buster packages.

[2018-09-30 12:01] BashfulBandit commented on #4
@KienVu2368  I should have also mentioned. If you want a OS which currently installs graphviz properly. Fedora currently packages graphviz with the librsvg dependency correctly and will work by just simply installing graphviz.

[2018-09-30 15:11] parrt opened #8 "white space in feature names don't work"

[2018-09-30 15:15] parrt commented on #4
Thanks for the help folks. The saga continues.

[2018-09-30 15:47] parrt commented on #4
Ok, `dot -Tsvg t.dot > t.svg` just worked for me on ubuntu with `sudo apt install graphviz`. It has embedded image refs to *local* dir. my [embedding code](https://github.com/parrt/dtreeviz/blob/master/dtreeviz/utils.py) should solve the rest of the issues.

unzip that and run dot. open t.svg and it should show good images.

[lll.zip](https://github.com/parrt/dtreeviz/files/2431706/lll.zip)

[2018-09-30 21:36] #8 closed

[2018-10-02 01:54] parrt commented on #4
Ok, i have linux and windows working outside of jupyter lab.

[2018-10-02 17:35] parrt commented on #4
Fixed by https://github.com/parrt/dtreeviz/pull/10

[2018-10-02 17:35] #4 closed

[2018-10-03 14:29] Whamp opened #12 "Windows 10 Installation Bug - Graphviz path wants str or os.PathLike object not WindowsPath"
To install I ran:
pip install dtreeviz on anaconda prompt (Not as admin).
Then I downloaded and installed graphviz-2.38.msi from here: https://graphviz.gitlab.io/_pages/Download/Download_windows.html

When running:
`(base) C:\Users\Will>where dot`
I get:
`C:\Program Files (x86)\Graphviz2.38\bin\dot.exe`

When running:
`(base) C:\Users\Will>dot -V`
I get:
`dot - graphviz version 2.38.0 (20140413.20

[2018-10-03 15:04] Whamp commented on #12
one thing I noticed in the source code:
if I change the view function to print the tmp and  svgfilename variables like so:
[code]
I get these paths:
[code]
I would assume the forward slash before DTreeViz_6232.svg would cause issues no?

[2018-10-03 16:11] Whamp commented on #12
OK so I figured it out.

The problem is graphviz is dumb and can't handle a WindowsPath object. So instead when sending the file name to graphviz i needed to add ".as_posix()" to the path.parent line in dotfilename = g.save(directory=path.parent.as_posix(), filename=path.stem) as shown below.

[code]

[2018-10-03 17:33] #12 closed

[2018-10-03 17:42] Whamp commented on #12
Windows 10 Pro Version 1803 OS Build 17134.285

[2018-10-03 18:20] parrt commented on #6
Hmm...can you send me a single row and a header row of data?  This is working for me in jupyter lab on mac:

[code]

[2018-10-04 15:59] parrt commented on #6
Hi @Whamp can you try the above and/or send me a few rows of data that don't work? thanks!

[2018-10-06 16:47] parrt commented on #6
Per https://twitter.com/PrinceShiva074/status/1048350134134697984 it's better to use simple node names.

[2018-10-06 18:51] #6 closed

[2018-10-07 19:58] jbao opened #14 "Set incoming edge thicknesses proportional to the number of samples in that node"
I just read the story where you shared the thoughts and lessons learned when implementing this nice library (thanks for that, great read indeed). This issue is part of the future work that is mentioned in the article. I hope it's still relevant? I'll try to submit a PR soon;-)

[2018-10-07 20:27] parrt commented on #14
thanks and thanks :)  Yep, relevant, but I'm not positive it'll actually look good.  Should be an easy thing to code so not a huge waste if not used. just set penwidth on edge labels proportional to num samples descending on that edge.

[2018-10-11 06:17] jermaine1ronquillo opened #15 "Can we use other ensemble decision tree?"
Can we use Catboost, XGBoost, and Lightgbm?

[2018-10-11 16:45] parrt commented on #15
Not currently. You would just have to get ShadowDecisionTree wrappers for those trees. Note that boosting trees are usually very shallow; not sure it'll help but try it out!

[2018-10-11 22:53] jermaine1ronquillo commented on #15
Thank you for the response

[2018-10-12 05:42] jermaine1ronquillo opened #16 "Set image size"
How to make the image size bigger?

[2018-10-12 15:56] parrt commented on #16
They are scalable SVG so any viewer should be able to puff it up. In notebooks, not sure. maybe with Image() option.

[2018-10-12 15:56] #16 closed

[2018-10-12 17:33] david-macleod opened #17 "Bars at data limits not plotted"
Hi

I have an issue where the bars at the limits of the data range are not being plotted, this is particularly problematic when the feature cardinality is 2. It only happens for particular input values but I have not yet been able to find the relationship between those which are successfully plotted and those which are not.

A reproducible example:

#### Correct result
[code]
<img width="207" alt=

[2018-10-12 17:42] parrt commented on #17
Thanks for the report!

[2018-10-13 01:55] jermaine1ronquillo opened #18 "Set graph size"
My previous question was not clear I guess,  but my question should be how to set the size of each graph generated by the library?

[2018-10-13 14:59] parrt commented on #18
There is no way and doesn't really need a way. scale resulting svg as you want.

[2018-10-13 14:59] #18 closed

[2018-10-30 16:25] Aru2612 opened #19 "Warning: No loadimage plugin for "svg:cairo" in Mac"
I have been trying to use dtreeviz to visualise iris data using my Mac.

[code]
Despite installing graphviz as:

`brew install graphviz --with-librsvg --with-app --with-pango`

I get the following output.

<img width="344" alt="screen shot 2018-10-30 at 14 59 24" src="https://user-images.githubusercontent.com/16777180/47733262-c03c9600-dc5f-11e8-93c1-1427a876b47d.png">

Solutions proposed in #4 di

[2018-10-30 16:38] parrt commented on #19
Hi @Aru2612 that's weird. which OS X version?  Are you sure you have latest dtreeviz via pip?

[2018-10-31 10:00] Aru2612 commented on #19
Hi @parrt,
I am using macOS High Sierra (Version: 10.13.6).
I installed the package using the command `pip install git+https://github.com/parrt/dtreeviz.git`
 and the final message was `Successfully installed dtreeviz-0.2.2`.
I am using `Python 3.6.6 :: Anaconda, Inc.` and `graphviz 2.40.1`  with `librsvg 2.44.8`.

[2018-10-31 18:14] parrt commented on #19
hi @Aru2612 Hmm...that all sounds good.  The leaf1 etc... nodes are generated into that tmp dir so that is fine.  You might try uninstalling graphviz via brew then running that installation again.  Are you getting any error messages that all that you can see?  What are you using for the SVG viewer? There are permissions issues sometimes if you're doing it from a browser etc. I use gapplin.

[2018-11-01 10:54] Aru2612 commented on #19
Hi @parrt I am using gapplin as well.
I think this is a problem with brew. They have reported an issue 15 hours ago [here](https://github.com/Homebrew/homebrew-core/issues/33570).
It now gives me an error message saying build failed on using `--with-app` and when I exclude that it gives me:
[code]
I also realised that because graphviz was already installed from before using pip, my code seemed to

[2018-11-01 15:58] parrt commented on #19
Hmm...the pip graphviz should be just a library wrapper that calls the dot executable installed via brew. i haven't tried 0.10.1 graphviz pypi lib but 0.9 worked. No module issue should be resolved with a pip install.

[2018-11-05 16:01] Aru2612 commented on #19
I think the problem is that brew installed packages are not being found by Anaconda. I noticed it gets installed to a folder called Cellar. When I do conda list only `graphviz                  0.10.1                    <pip>` shows up amongst other packages.
The other option is to install graphviz using `conda install -c anaconda graphviz`

The following packages will be downloaded:

    package

[2018-11-05 16:11] parrt commented on #19
Yep, Cellar is standard brew location. I think conda is wrong way to install as that tries to overwrite libs not just python stuff. pip should work. Ok, so I'll close as you have it working but thanks for figuring this out on your machine!

[2018-11-05 16:11] #19 closed

[2018-11-14 02:24] h4nyu opened #20 "Garbled characters occur when using Japanese because fontname is hard coded "Arial""
Can I set fontname(if yes, how can I set) or let matplotlib.rcParams to set fontname?

https://github.com/parrt/dtreeviz/blob/09053833b46a92d75dbe0a9b98d16f35fb5f3394/dtreeviz/trees.py#L473-L474

![japanese_font](https://user-images.githubusercontent.com/18400546/48455739-b0948400-e7ff-11e8-9e82-e8b0f8e611e5.PNG)

[2018-11-14 07:28] tkhrmeme opened #21 "UnicodeDecodeError under Japanese envrionment"
Hello!

I encountered UnicodeDecodeError under Windows10; Japanese version.

I think there is a need to add encoding='UTF-8' when opening a SVG file at line 51 of utils.py.

[code]

[2018-11-19 22:41] parrt commented on #20
Hi. unfortunately, all I have is ability to set font size.  I would consider a pull request to fix.

[2018-11-27 19:04] parrt commented on #17
@david-macleod actually, doesn't `np.random.choice([-1,1])` give same as `arange(-1,1)`, missing the 1?

[2018-11-28 22:59] jlw365 opened #23 "Can't get viz.view() to work"
Potentially related to #19

I installed dot using your command `brew install graphviz --with-librsvg --with-app --with-pango` and also have done `pip install graphviz`. I am having trouble with the `viz.view()` command when trying to run your example code. I am getting the following error:

[code]

I am running Python 3.6.5::Anaconda in a Jupyter Notebook. I also tried this in Jupyter Lab and got

[2018-11-29 00:39] parrt commented on #23
weird. does `dot` work from command line?

[2018-12-02 10:06] Merchant93 commented on #12
I am new to github so I am not sure if I am able to comment on closed issues but I'm working through the dtreeviz demo in R using the reticulate package and seem to be running into a similar problem.

My OS: Windows 10 Home Version 1803 OS Build 17134.407.

To install Graphviz, I ran `pip install dtreeviz` in the Anaconda Prompt, downloaded graphviz-2.38.msi, updated my Path environment variable a

[2018-12-02 18:34] parrt commented on #12
Hmm...I've no idea I'm afraid. Searching for `OSError: [WinError 6] The handle is invalid` finds a whole bunch of stuff related to Windows/Python/Video editing.  I don't use Windows regularly and have no idea how to troubleshoot that. :(

[2018-12-03 03:08] Merchant93 commented on #12
No problem, thank you for following up so  quickly.

[2018-12-03 09:54] cast42 opened #25 "Issue with import"
I do:
from dtreeviz.trees import *
I get:
NameError: name 'rtreeviz_univar' is not defined
when execuring
[code]

If i do:
[code]
returns True
[code]
returns  False
Strange

[2018-12-03 16:57] parrt commented on #25
Hi. that must mean you have an old version. Can you do `pip install -U dtreeviz`?

[2018-12-03 20:42] CermakM opened #26 "dtreeviz fails with IndexError for n_classes >= 11"
Apparently `dtreeviz` in `dtreeviz.trees.py` fails on the following block of code:

[code]

resulting in

[code]

My model has __`15` classes__ and I believe the length of `color_blind_friendly_colors` (which is __`11`__) is causing the issue.

[2018-12-03 20:43] parrt commented on #26
ah. yeah, sorry. I should put a check in there but only 10 classes can be handled right now.  we had to handpick the colors.  sorry about that.

[2018-12-03 20:43] CermakM commented on #26
Wow, quick response!

So there is nothing I can do at the moment?

[2018-12-03 20:44] parrt commented on #26
Nope :( sorry.

[2018-12-03 20:45] CermakM commented on #26
Okay, let's hope for a quick solution in the bright future. Keep up the good work and thanks for the quick response.

[2018-12-03 20:45] parrt commented on #26
thanks :)  I'd be happy to accept a pull request that increased the number of color palettes ;)

[2018-12-04 09:41] cast42 commented on #25
The problem remains after:
'''
$ pip install -U dtreeviz
Requirement already up-to-date: dtreeviz in ./.conda/envs/omzet-gissen/lib/python3.7/site-packages (0.3.1)
'''
I think it has something to do with my conda packaging. I'll keep digging.

[2018-12-04 17:00] parrt commented on #25
@cast42 probably a disconnect between conda environments or between conda and jupyter (if using that).

[2018-12-06 10:24] p9anand commented on #23
getting same issue.  Although i have the dot.
<img width="335" alt="screen shot 2018-12-06 at 3 52 45 pm" src="https://user-images.githubusercontent.com/7848315/49578181-25765c00-f96f-11e8-9223-7018c0f50455.png">

[2018-12-06 16:56] parrt commented on #23
Try running the code from cmdline then not notebook to see if it works. that will isolate the issue to a path problem in notebook.

[2018-12-07 17:21] p9anand commented on #23
Hi Thanks for reverting back. still having same issue. Please find attached file.
<img width="1440" alt="screenshot 2018-12-07 at 10 50 05 pm" src="https://user-images.githubusercontent.com/7848315/49662698-92bee580-fa72-11e8-8c9e-6418ca89d9a2.png">

[2018-12-07 18:47] parrt commented on #23
Ah. ok, it's finding dot but can't handle the svg stuff. That is a mac?  try these updated instructions:

Make sure to have the latest XCode installed and command-line tools installed. You can run xcode-select --install from the command-line to install those if XCode is already installed. You also have to sign the XCode license agreement, which you can do with sudo xcodebuild -license from command

[2018-12-08 03:26] xiaozhah opened #27 "OSX:Display error in JupyterLab(Warning: No loadimage plugin for "svg:cairo")"
Plaoform: Mac OS Mojave
Using Anaconda
Python -v: 3.7.1
Using `brew install graphviz --with-librsvg --with-pango` to install graphviz

if .dot files contain `digraph G { A -> B }`, `dot -Tsvg:cairo test.dot > test.svg` can produce plot successfully.

In jupyter Lab,it display this:
![image](https://user-images.githubusercontent.com/7589403/49681397-0812d080-fadc-11e8-89ca-d901f88e17d8.png)

In ins

[2018-12-09 05:30] parrt commented on #27
This must be some issue with the notebook invoking a different version of dot. Can you check the system path from notebooks? I am away from my computer for a day or two

[2018-12-15 22:54] cod3licious commented on #27
I get a similar error and then it opens inkscape and displays this:
<img width="643" alt="screenshot 2018-12-15 at 23 51 32" src="https://user-images.githubusercontent.com/1093567/50048121-74856500-00c4-11e9-93aa-feda466220a5.png">
- any idea why it doesn't display the (incomplete) tree in jupyter notebook?

[2018-12-16 00:18] parrt commented on #27
From notebook, try these:

[code]

Make sure that agrees with:

[code]

For me that is `/Users/parrt/anaconda3/bin/python`.

The `PATH` should also be the same as from command line so it picks up correct `dot`.

[code]

and

[code]

Those should be the same also.

[2018-12-26 09:15] XiangYangAI opened #28 "viz.view()"
I am running this in Jupyter Lab with nothing to show. I have installed all the dependency packages. Thanks for your help!
![2018-12-26_17-08-03](https://user-images.githubusercontent.com/42397178/50440502-81f6e680-0931-11e9-9039-95af140428ab.png)

[2018-12-27 01:32] xih commented on #19
I'm getting a similar error: `CalledProcessError: Command '['dot', '-Tsvg:cairo', '-o', '/var/folders/7v/wxwmd93x6xl7shxp7ffpnc7c0000gn/T/DTreeViz_73508.svg', '/var/folders/7v/wxwmd93x6xl7shxp7ffpnc7c0000gn/T/DTreeViz_73508']' returned non-zero exit status 1.` with conda and jupyter notebook.

![image](https://user-images.githubusercontent.com/8076886/50461514-bff50a00-0933-11e9-99c0-58d71bef8dd1.

[2018-12-27 02:08] xih commented on #19
I tried `cp -r /usr/local/Cellar/graphviz /miniconda3/envs/MY_ENV_NAME/lib/python3.6/site-packages`

to link the homebrew installation of graphviz with my conda virtualenv,

 however I am now getting an import error
![image](https://user-images.githubusercontent.com/8076886/50462295-26305b80-0939-11e9-8e21-1170d6871c82.png)

[2018-12-27 02:09] xih commented on #19
@parrt

[2018-12-27 02:33] XiangYangAI commented on #28
The remote server is Ubuntu with anaconda virtual environment and I log in jupyter-lab on mac.

[2018-12-27 10:13] XiangYangAI commented on #28
If I run all things on mac without using remote Ubuntu. Errors occur as follows:
[code]

[2018-12-27 16:46] parrt commented on #28
that is the brew install issue I think. did you do

[code]

Try uninstall graphviz then do that.

[2018-12-27 16:49] parrt commented on #19
Try making file `t.dot` with content `digraph T { A -> B }` and then

[code]

Does that get a t.svg file?

[2018-12-27 16:53] parrt commented on #19
try uninstalling with brew then reinstalling.

[2018-12-31 11:11] Aru2612 commented on #19
@xih For me the problem was solved when I tried it outside the anaconda environment. The problem is anaconda and brew doesn't go together. Using anaconda on Windows worked for me. But on Mac when I had tried on a different laptop which didn't have anaconda installed at all it worked perfectly fine with `brew install graphviz --with-librsvg --with-pango`. Anaconda does not seem to recognise brew in

[2018-12-31 14:43] motoki0214 commented on #23
I struggled the same issue then I could solve them with the information here.
Thank you so much for your helpful information, @parrt.

[2018-12-31 17:03] parrt commented on #23
@motoki0214 glad to hear it. What specifically solved your problem so I can update the doc? Was the uninstall then install?  correct brew options?

[2018-12-31 17:07] parrt commented on #19
Hmm...it could be an env thing for anaconda. I never use those. just plain anaconda.  Do you use those conda env things?  I use nothing but anaconda so it's more likely something else. Did `dot -Tsvg:cairo -o t.svg t.dot` work? That's all that you need.

Either way, good to know!

[2019-01-01 06:19] motoki0214 commented on #23
@parrt
I did what you said things below,
1, type "xcode-select --install" from the command-line
2, then run "sudo xcodebuild -license" from the command-line
3, "uninstall graphviz" from the command-line once
4, then finally run "brew install graphviz --with-librsvg --with-pango"
5, A sample decision tree was shown on Jupyter notebook with "display(viz)"

FYI ;
I am running Python 3.6.4 :: Anaconda

[2019-01-01 18:59] parrt commented on #23
great. added to doc

[2019-01-02 08:12] motoki0214 commented on #23
@parrt
My pleasure.
This library is very useful for my job, thank you very much too.

[2019-01-02 11:46] Aru2612 commented on #19
I am using just Miniconda. So when I launch python it by default launches
`Python 3.6.7 |Anaconda, Inc.| (default, Oct 23 2018, 14:01:38)`.
I had tried `dot -Tsvg:cairo -o t.svg t.dot` but could not get it to work for me.

[2019-01-02 18:50] parrt commented on #19
Well, if `dot` doesn't work then there is no hope of python using it.  What error do you get?

[2019-01-09 14:41] cdtennant opened #29 "Example leaf size not proportional to number of samples"
OS: Windows 7 Enterprise
Python: 3.6.5
Running on Jupyter Notebook

I am able to recreate the tree visualization for the iris data set as given in README.md

![iris](https://user-images.githubusercontent.com/44101401/50905936-fb8eda00-13f1-11e9-9074-fc142ae72b67.png)

However, when I run on my own data set I find the peculiarity that one of the leaves ("Fault B") does not seem to be proportional t

[2019-01-09 18:46] parrt commented on #29
Thanks!  No doubt my [prop_size()](https://github.com/parrt/dtreeviz/blob/master/dtreeviz/trees.py#L1128) function is the issue!

[2019-01-12 00:48] JosephGatto commented on #23
I have tried all of the suggestions from all of these threads, everything installs successfully yet I still get:
CalledProcessError: Command '['dot', '-Tsvg:cairo', '-o',  .... ]   (on mac)

Since I am not too worried about quality, my work around was to go to the trees.py file and change line 89 to:
cmd = ["dot", f"**-Tsvg:svg:core**", "-o", filename, dotfilename]

<img width="664" alt="git" src=

[2019-01-13 01:35] parrt commented on #23
That is so weird. If you try `dot`  with svg from the command line and it doesn't work, then that is some kinda weird install issue unrelated to dtreeviz.  Nonetheless, glad you found a way around it.

[2019-01-13 01:35] #23 closed

[2019-01-17 09:00] dhaitz opened #30 "Make colors configurable"
Hi!

Could you make the colors configurable? I like the idea of being colorblind-friendly; unfortunately on some projectors the palette colors are indistinguishable.

Thanks and cheers

[2019-01-18 07:54] hcho3 commented on #15
This is a really cool project. It would be interesting to see XGBoost integrated into dtreeviz.

So I’d just need to define a new class that looks like ShadowDecTree? I have some experience parsing XGBoost models; let me see if I can make a working pull request.

[2019-01-18 17:45] parrt commented on #15
@hcho3 yep, would be nice. I would consider a PR. :)

[2019-01-21 07:03] wenyanghan commented on #21
I just fix like
 with open(svgfilename，encoding='UTF-8') as f:

[2019-01-21 17:31] #28 closed

[2019-01-25 12:11] martin-loetzsch commented on #15
@hcho3 Have you been able to write that wrapper class for XGBoost? And if so, can you share it?

[2019-01-27 10:44] resnant opened #31 "histogram"
<img width="529" alt="2019-01-27 19 41 29" src="https://user-images.githubusercontent.com/25251935/51799968-e2987c80-226b-11e9-88b5-d8e876033fd5.png">

[2019-01-27 16:21] parrt commented on #31
Not sure what to do in this case but thanks for pointing this out. Let's keep issue open and see what pops up.

[2019-01-27 19:08] grilhami opened #32 "TypeError: unhashable type: 'numpy.ndarray'"
I am having an issue with visualizing decision trees with `dtreeviz`. I am running this on Ubuntu 18.04 using an anaconda environment using Python 3.6.0 and Jupyter Notebook.

I used the following example with some changes.

[code]
I tried to use the same code on my nutrient database.

[code]
It returned the following error

[code]
I thought it's because it wanted me to out in a numpy array type i

[2019-01-27 19:16] parrt commented on #32
it wants a list not an array for sure, but not sure why your list doesn't work. what type is `boston.feature_names`?

[2019-01-30 14:08] cdtennant commented on #29
FYI, I noticed that this issue actually appears in dtreeviz/notebooks/examples.ipynb for the iris data set as well:
![dtreeviz](https://user-images.githubusercontent.com/44101401/51986622-a08b5880-246e-11e9-9c8e-b235319b8e8e.png)

[2019-02-01 20:33] parrt commented on #32
@grilhami Hmm...it can't be the features as this works:

[code]

It must be the class weights passed to the tree model. can you print `regr.class_weight` for me?

[2019-02-04 21:23] EricCacciavillani opened #33 "MacOS: Error: invalid option: --with-librsvg"
First off thank you for creating the dependency it looks incredible to use.
But sadly I cant seem to install graphiz. Following the instructions for issue #23 I am confused with what I am supposed to do:
1.) I have xcode-select installed
2.) I ran "sudo xcodebuild -license" from the command-line (I dont understand why...just to confirm I got it I guess.)
3.) I run "brew uninstall graphviz"
4.) the

[2019-02-04 21:30] EricCacciavillani commented on #33
`Homebrew 2.0.0
Homebrew/homebrew-core (git revision bf83; last commit 2019-02-04)`

Some more context. (I don't see the options for what you specified...)
![image](https://user-images.githubusercontent.com/16104771/52238513-29a0f600-289a-11e9-8a9d-1024c09a3989.png)

Also thanks for the help!

[2019-02-04 21:46] parrt commented on #33
hmm... yeah,Those options for the libraries are on the package.   when I asked for information I get the following:

[code]

wow.  I get the error myself now. wth?!  something has changed.  This page seems to show that the option is valid but it's not working anymore:

https://formulae.brew.sh/formula/graphviz

it doesn't like the pango one either. crap.

[2019-02-04 21:53] parrt commented on #33
well, crap. It appears they have removed the options. see here https://github.com/Homebrew/homebrew-core/blob/master/Formula/graphviz.rb

I can't even install it myself at the moment!!! damn!

[2019-02-04 21:54] EricCacciavillani commented on #33
Dude that sucks! I am really sorry to hear that...well in the meantime, I can just try running it on my ubuntu machine.

[2019-02-04 22:36] parrt commented on #33
no biggie :)  So svg comes out of linux no problem?

[2019-02-04 23:52] EricCacciavillani commented on #33
![image](https://user-images.githubusercontent.com/16104771/52245031-0718d800-28ae-11e9-9018-ba5d278c3390.png)
Dude this is actually amazing...like seriously...

[2019-02-05 00:56] EricCacciavillani commented on #33
I can work with that. I admit I want to work with floats at times for my data,  but then again binning is a thing and provides less overall noise in the dataset. So this will work for a majority of my datasets and dts but not all;(like 95% of the time this will be awesome) which again is still fantastic

Thanks so much for your time. I will be suggesting this to other data scientists I know. (Most

[2019-02-05 01:21] parrt commented on #33
Ok, try this:

[code]

[2019-02-05 01:34] parrt commented on #33
make sure it's using /usr/local/bin/dot not, for example, /Users/parrt/anaconda3/bin/dot

[2019-02-05 01:49] #27 closed

[2019-02-05 01:58] parrt commented on #23
@JosephGatto That -Tsvg:svg:core thing didn't work for me.  How did you use that route to get png? Trying to update package. thanks!

[2019-02-05 02:14] JosephGatto commented on #23
@parrt So my reasoning for that was Jupyter warnings stating something telling me to use that package instead. I then just went into the source code and replaced the original call.

It worked for a bit but I have since tried uninstalling / reinstalling dtreeviz as that workflow was painful. My hacky solution stopped working after that and I resulted in giving up on trying to get it to work on my m

[2019-02-05 03:49] parrt commented on #23
@JosephGatto no problem. I have updated the README to have new instructions but I'm working on a png thing now too :)

[2019-02-05 05:21] EricCacciavillani commented on #33
I will give this a try in a tiny bit sorry was finishing up a presentation. Really sorry....also I am an idiot I thought you wanted the matrix to be ints only...thank god that isnt the case...I really need to sleep more...

[2019-02-05 05:43] EricCacciavillani commented on #33
Yeah no getting the following error.....
![image](https://user-images.githubusercontent.com/16104771/52255106-1bc19400-28df-11e9-9a51-95d95b8cca5f.png)

[2019-02-05 15:37] parrt commented on #33
Damn! is the date on that `dot` when you installed it?  And no errors from make or make install?

[2019-02-05 15:44] EricCacciavillani commented on #33
Didn't look like any errors happened. I dont understand what you mean by the "date of that dot".

[2019-02-05 15:45] parrt commented on #33
meaning timestamp `ls -l /usr/local/bin/dot`. i found an old one that didn't get overwritten earlier.

[2019-02-05 15:47] EricCacciavillani commented on #33
![image](https://user-images.githubusercontent.com/16104771/52284908-5fde8400-2933-11e9-899a-e87ec9a0cff4.png)
Oh....

[2019-02-05 15:49] parrt commented on #33
dang it! if it builds, this really should work. grrr....does your configure help show this:

[code]

[2019-02-05 15:59] EricCacciavillani commented on #33
Nope errors
![image](https://user-images.githubusercontent.com/16104771/52285850-1bec7e80-2935-11e9-9ad5-32203e886018.png)

[2019-02-05 16:00] parrt commented on #33
the `--` is confusing grep. can you gry just the svg and cairo bits with grep like I did? thanks!

[2019-02-05 16:02] EricCacciavillani commented on #33
![image](https://user-images.githubusercontent.com/16104771/52286049-7be32500-2935-11e9-9f5d-cc5217e88212.png)
this?

[2019-02-05 16:02] parrt commented on #33
yup. ok, soooo weird. ok, let me try on a few other macs and let you know. i've reopened :) thanks much for the help.

[2019-02-05 16:03] EricCacciavillani commented on #33
No problem I will keep revisiting for any updates.

[2019-02-05 17:00] parrt commented on #23
@JosephGatto Can you try the new build from source instructions on the homepage? It works for me on to Macs.

[2019-02-06 03:56] EricCacciavillani commented on #33
![image](https://user-images.githubusercontent.com/16104771/52319718-3e17e800-2999-11e9-980d-9a79e529b6e1.png)

[2019-02-06 04:07] parrt commented on #33
dang. I tried that sequence on a 3rd mac and it worked well.

How about doing a `make uninstall` from that build dir then make sure `dot` command says not found. Then do `make install` again (no need to clean and remake). Try `dot -Tsvg:cairo` again.

[2019-02-06 14:28] EricCacciavillani commented on #33
Ok will give that a try

[2019-02-06 15:58] parrt commented on #33
ok, that is really weird. only random thought. maybe there is an alias in the shell. try `/usr/local/bin/dot -Tsvg:cairo`?

[2019-02-06 16:31] EricCacciavillani commented on #33
![image](https://user-images.githubusercontent.com/16104771/52356730-c088c200-2a02-11e9-9f5b-e9ec14954ee0.png)

[2019-02-06 17:11] parrt commented on #33
rats! Hmm....ok, i'll wait to hear reports from others. maybe I'll try on another random mac. thanks!

[2019-02-06 17:14] EricCacciavillani commented on #33
No problem thanks again!

[2019-02-18 23:14] EricCacciavillani commented on #33
Wow still no one else dam....guess it's just me lol

[2019-02-18 23:15] EricCacciavillani commented on #33
Np I'll live! I still got my Ubuntu machine! :3

[2019-02-18 23:34] parrt commented on #33
ok, cool. i'll close for now.

[2019-02-18 23:34] #33 closed

[2019-02-25 14:02] AlexandraBomane opened #34 "IndexError: index 0 is out of bounds for axis 0 with size 0"
I trained a Sklearn CART model (using default parameters provided by Scikit-learn) on the attached data ([data.txt](https://github.com/parrt/dtreeviz/files/2900796/data.txt), where the column "Target" contains the labels to predict, the rest of the columns containing the values associated with features).

For model fitting, I used :
`from sklearn.tree import DecisionTreeClassifier`
`from sklearn.u

[2019-02-25 16:17] parrt commented on #34
that's weird. it appears there's a leaf with no observations.  how many labels are in your target?

[2019-02-25 16:53] AlexandraBomane commented on #34
2 labels : it is binary classification

[2019-02-25 17:35] parrt commented on #34
any chance I could get a small dataset that exhibits this behavior?

[2019-02-25 17:38] AlexandraBomane commented on #34
In my first message, I provided the exact dataset (data.txt) that I'm using and which leads to the error. It contains only 57 rows and 17 columns

[2019-02-25 17:38] parrt commented on #34
oh sorry. read on my phone earlier. thanks!

[2019-02-25 17:48] parrt commented on #34
I'm getting different error. have you done `pip install -U dtreeviz` to make sure you have latest? I'm getting

[code]

either way...somethings wrong ;)  i'm investigating

[2019-02-25 18:11] #34 closed

[2019-02-25 18:13] parrt commented on #34
Please `pip install -U dtreeviz`. Should work now. thanks!

[2019-02-28 17:44] parrt commented on #34
@AlexandraBomane can you confirm it works?

[2019-02-28 17:48] AlexandraBomane commented on #34
Hi @parrt, it works perfectly !

Many thanks for fixing the problem so quickly.

[2019-03-03 18:14] bminahan73 commented on #33
I have this same issue.

[2019-03-03 18:15] bminahan73 commented on #33
have tried all of the steps posted here so far.

[2019-03-03 18:18] bminahan73 commented on #33
<img width="498" alt="screen shot 2019-03-03 at 12 18 00 pm" src="https://user-images.githubusercontent.com/27121305/53699493-6afbc700-3dae-11e9-8de9-1df1c8e6091c.png">

[2019-03-04 00:14] parrt commented on #33
Have you tried what's on the home page?

[code]

[2019-03-05 12:23] zhjTHU opened #35 "for classification problems, is there any limitations for max_depth of the estimator, only 3 layers? thanks"

[2019-03-05 15:28] parrt commented on #35
no limit. but max 10 levels of target classes.

[2019-03-05 15:28] #35 closed

[2019-03-06 01:27] zhjTHU commented on #35
thanks, but I have met a error:
**UnicodeDecodeError: 'gbk' codec can't decode byte 0x92 in position 11528: illegal multibyte sequence**
is there any advice to solve this problem? (in my tree model, max_depth=5)

[2019-03-06 02:02] parrt commented on #35
that is likely an issue with string handling unicode characters

[2019-03-06 18:49] pingwhistle commented on #33
I had to pass the `--with-pangocairo=yes` switch to the configure script. Without it, graphviz would compile without cairo support
[code]

[2019-03-06 18:50] parrt commented on #33
wow. really? Ok,  I am adding to the readme. Thank you

[2019-03-08 23:54] bminahan73 commented on #33
@pingwhistle 's suggestion worked for me as well :D

[2019-03-21 15:32] lutaev commented on #33
Hi there. I got the same error and I also tried all steps posted here. Here is my last actions:
[code]
Then I run
[code]
And got
[code]

My mac data:
iMac (21.5-inch, Late 2012)
MacOS Mojave

Thanks.

[2019-03-21 15:41] parrt commented on #33
Thanks. we need to know WHICH `dot` is running though.  What does `which dot` say?

[2019-03-21 15:49] lutaev commented on #33
Thanks for attention. `which dot` says:
[code]

[2019-03-21 15:51] parrt commented on #33
Hmm...that's correct. does `ls -l /usr/local/bin/dot` show your installation date?  and also try `rm ~/anaconda3/bin/dot` just to be sure.

[2019-03-21 15:53] lutaev commented on #33
Command `ls -l /usr/local/bin/dot` says:
[code]
and then `rm ~/anaconda3/bin/dot`:
[code]

[2019-03-21 15:56] parrt commented on #33
Dang. I'm at a loss I'm afraid. :(

[2019-03-21 22:37] thhsfdc commented on #19
I had a similar issue after a re-imaging of my machine.
I installed this sequence
[code]
and did not get it working :-(

Luckily I had a backup from before and found some missing lib in the new install.
I copied the file
`/usr/local/Cellar/graphviz/2.40.1/lib/graphviz/libgvplugin_pango.6.dylib`
from backup into the very same place of my new install and than
`ln -s libgvplugin_pango.6.dylib libgvpl

[2019-03-21 22:47] parrt commented on #19
Wow. Did you move to 10.14 with new image? This is all so frustrating!!!

[2019-03-21 23:04] thhsfdc commented on #19
@parrt  I had been on 10.14.3 before and after. However, did install this kind of while ago. Not sure if even before upgrading...

[2019-04-03 12:49] likejazz commented on #33
Same problem here.

[code]

[2019-04-03 14:09] breadplop commented on #33
I am also facing such an issue.
Running this:
```./configure --includedir=/usr/local/include/graphviz --with-pangocairo=yes```
I noticed that:
[code]
In particular: `  pangocairo:    No (pangocairo library not available)`

How can I get the pangocairo library?

Can't seem to find much information on the web, this seems like the most relevant and active thread around.

Hope we can resolve this issu

[2019-04-03 15:45] parrt commented on #33
Hi. We have a potential solution but I haven't checked it yet: https://github.com/parrt/dtreeviz/pull/36  Can you try it?

[2019-04-03 16:04] gautamkarnik commented on #33
Hi all,

Hope this helps in some way.

It appears that svg:cairo is no longer supported on 10.14. I hear is what I did at home. I also tested on Windows 10:

[code]

Then updated trees.py to only use dot -Tsvg, as per the pull request.  This however, does not solve the original font calculation problems that cairo solved, so some minor tweaks to this branch are needed.

You can also see what I had

[2019-04-03 17:21] parrt commented on #33
@lutaev @likejazz @breadplop are you folks on 10.13 or 10.14 os x?

[2019-04-03 22:57] angelo-moreira commented on #33
@parrt I have the exact same issue I am running 10.14 followed the last pull request but no luck

[2019-04-03 22:59] parrt commented on #33
Rats! Maybe @gautamkarnik, who has 10.14, can figure this out.

[2019-04-04 07:58] likejazz commented on #33
@parrt I used to OS X 10.14 and still failed to install graphviz. but I've tried #36 and it works now!

[2019-04-04 19:22] parrt commented on #33
Just got this working on a student's laptop. All i did was the preamble:

[code]

and then the os x instructions. works great on 10.13.

[2019-04-07 00:31] JSAN730 commented on #32
I'm getting the same issue... has this been fixed?

[2019-04-07 00:32] JSAN730 commented on #32
regr.class_weight is none for me

[2019-04-07 15:52] parrt commented on #32
@JSAN730 are you using 0.3.3 dtreeviz?

[2019-04-07 16:00] JSAN730 commented on #32
Yup, I'm using 0.3.3 dtree viz

[2019-04-07 16:03] parrt commented on #32
Damn. ok, if you send me a small test.py and a sample dataset (or pull from sklearn), I'll track it down

[2019-04-07 16:08] JSAN730 commented on #32
I was assuming that feature_names was just a list of the column names for the data with predictor variables. I'll send you the test.py and sample dataset. Below is my code:

features = list(vf_ulta_per_data)

viz = dtreeviz(regr,
               vf_ulta_per_data,
               vf_ulta_per_target,
               target_name= 'VF % ULTA 2018',  # this name will be displayed at the leaf node

[2019-04-07 16:09] parrt commented on #32
Hmm...yeah, that should work. let's figure this out. you can email me at parrt@cs.usfca.edu

[2019-04-07 16:24] parrt commented on #32
I'm getting a different error than was reported.  Is this what you see @JSAN730 ?

[code]

[2019-04-07 16:25] JSAN730 commented on #32
Yes, I'm getting that same message.

ValueError: classes should include all valid labels that can be in y

[2019-04-07 16:26] parrt commented on #32
ah. well, isn't that supposed to be same?

<img width="352" alt="Screen Shot 2019-04-07 at 9 26 09 AM" src="https://user-images.githubusercontent.com/178777/55686522-3b912a80-5917-11e9-9bcf-8a95caa69517.png">

[2019-04-07 16:31] JSAN730 commented on #32
how should I code it if the target is a continuous variable (like sales) and I'm using the other columns in the dataset to create a regression tree as predictor variables?

[2019-04-07 16:32] parrt commented on #32
if continuous, then it's regression so you can't use class_weights.  Maybe you want sample_weights?

[2019-04-07 16:37] JSAN730 commented on #32
That's correct, I'm trying to run a regression tree. I'm new to python, I'll try to find where I can replace class_weights to sample_weights. I thought the tree.DecisionTreeRegressor() took care of that.

[2019-04-07 16:38] parrt commented on #32
The term "class" is meant for classifiers so that arg is definitely not the one you want. :)

[2019-04-12 13:11] lucas817 commented on #32
I'm having the same issue (ValueError: classes should include all valid labels that can be in y). I don't fully understand the previous discussion: is this a bug that will be fixed, or is there a way to make the function not try to use class weights on a regression tree? Because as it is the only regression trees that can be visualised are the ones from built-in datasets like the boston one, which

[2019-04-12 18:11] parrt commented on #32
I wonder if you are mixing up regression versus classifier. Classifiers are the only ones that need to pass in the target class names. There are no such things for a regressor, which predicts a numeric value.

[2019-04-12 18:19] lucas817 commented on #32
I know what the difference between regression and classification is, I'm a statistician. My point is that the error appears every time, whether you pass a regression model or a classifier, it makes no difference. The only way I've gotten this to work is with built in datasets like iris and boston. Is this package only meant to be used with those or can it also be used with pandas dataframes (and i

[2019-04-12 18:21] parrt commented on #32
oh! Sorry. I've used on all sorts of datasets. Can you send me a failing example? I'll track it down! parrt@cs.usfca.edu   It must be a weird data type issue with the list of feature names.

[2019-04-12 18:56] JSAN730 commented on #32
@lucas817

for me, I changed the target dataset a numpy array and it worked
penetrationtarget = np.array(penetrationbeddf_c['vf_penetration'])

[2019-04-12 19:06] parrt commented on #32
oh! yeah, it has to be a dataframe series or a numpy array I think. what type are you passing in? i can update.

[2019-05-13 05:22] sv650s opened #37 "Unable to get dot installed properly on Mac Mojave (10.14.4)"
Hi,

I'm following the instructions on your github page to get dtreeviz working for a school project but it doesn't seem to be updating dot properly. I've ran your instructions multiple times. Also, found this thread and tried everything in there as well:

https://github.com/parrt/dtreeviz/issues/33

I've followed all the instructions to install on github page:

 (including uninstalling python-gra

[2019-05-13 20:31] parrt commented on #37
Hmm... sorry to hear that. We are working on a new solution that does not require all those fancy libraries. See https://github.com/parrt/dtreeviz/pull/36

[2019-05-26 18:28] parrt commented on #20
Fixed by https://github.com/parrt/dtreeviz/pull/24

[2019-05-26 18:28] #20 closed

[2019-05-26 18:31] parrt commented on #37
If you pull latest master, install is now super simple / easy!

[2019-05-26 18:32] #37 closed

[2019-05-26 18:33] parrt commented on #33
Fixed by https://github.com/parrt/dtreeviz/commit/b655c627abf87e07144132ea0bfbba21350d42ce

[2019-05-26 18:34] #25 closed

[2019-05-26 19:23] #29 closed

[2019-05-26 19:38] parrt commented on #32
Ok, i *think* this was because `compute_class_weight()` was called even for regressors, but it only makes sense for classifiers. **ALSO**, it sounds like maybe your `tree_y` was not a simple 1D array but maybe 2D.

[2019-05-26 19:38] #32 closed

[2019-05-26 19:44] #21 closed

[2019-05-26 20:37] #17 closed

[2019-05-28 06:59] H4dr1en commented on #28
I had the same issue with Jupyter Lab on Linux. Easy fix: calling `viz` instead of `viz.view()` works fine, as shown in the notebooks inside the repo.

[2019-05-28 08:08] H4dr1en commented on #15
Can we re-open? A support for XGBoost would be very interested!
I am pretty sure it is  feasible using the [trees_to_dataframe](https://github.com/dmlc/xgboost/blob/278562db133005f93edbffc74afc4b02b49bccca/python-package/xgboost/core.py#L1583) function to get a dataframe description of the trees:

![image](https://user-images.githubusercontent.com/16240134/58461602-579f9400-8130-11e9-8b97-b2b5f1b0

[2019-05-28 15:14] parrt commented on #28
i pushed 0.4 last night. can you see if that works for you as well?

[2019-05-28 15:16] parrt commented on #15
Ah. ok. maybe somebody could submit a PR.

[2019-05-29 06:43] H4dr1en commented on #28
I installed dtreeviz yesterday using the master branch (installing from pypi didn't work, I had an error). So I have 0.4 and still need to call `viz` at the end of a jupyter lab cell instead of `viz.view()`

[2019-05-29 16:21] parrt commented on #28
actually, i guess in notebooks you never call viz.view(). should be just a ref to viz which is an object that notebooks know how to display.

[2019-06-04 12:54] zkurtz opened #40 "compare to shap?"
I'm new to this project but have previously used SHAP (https://github.com/slundberg/shap), so any documentation comparing/contrasting this toolset with SHAP would be interesting.

My quick take is that dtreeviz is primarily about visualization, whereas SHAP is primarily about numerical estimates of feature importance (plus visualizing these estimates). Is there any overlap? To the extent that they

[2019-06-04 17:35] parrt commented on #40
Hi. SHAP is indeed very interesting but technically is model agnostic and is not really related to decision tree visualization. As far as I can tell there's no overlap.

[2019-06-04 17:35] #40 closed

[2019-06-04 17:48] zkurtz commented on #40
OK, if you're strictly looking at the visualization of the trees and disinterested in the corresponding effect sizes of the features used for splits, than the overlap may indeed be zero. SHAP does not appear to visualize trees per se. But it does have tree-specific explanations (shap.TreeExplainer) as demoed [here](https://github.com/slundberg/shap/blob/master/notebooks/tree_explainer/Census%20inc

[2019-06-04 17:50] parrt commented on #40
yep, even their "fast" tree specific one is too slow to be useful from my experience.  I'm interested in feature importance, just not in this repo :)  thanks...

[2019-06-12 13:17] dav-ell opened #41 "PMML Support"
Does this library have support for loading trees saved in [PMML](https://en.wikipedia.org/wiki/Predictive_Model_Markup_Language) files? If not, would there be any interest in supporting it?

Tools like IBM's [SPSS](https://www.ibm.com/us-en/marketplace/spss-decision-trees) can export their decision trees in PMML XML. To have this library support it would potentially mean that enterprise customers

[2019-06-12 13:39] dav-ell commented on #41
Just a note that a library exists to convert PMML files to sklearn Tree Classifiers: [sklearn-pmml-model](https://github.com/iamDecode/sklearn-pmml-model).

[2019-06-12 15:39] Ashafix commented on #30
@dhaitz : How should the configuration look like in your opinion? Global or per function call?

As far as I could see from the code, the colors are currently just global constants which can be overwritten, e.g. `dtreeviz.trees.GREY = "#ff0000"` and you get red labels.

Probably the easiests way would be to have a global dictionary which stores the colors and can be overwritten for customization, e

[2019-06-12 16:25] parrt commented on #30
I think some kind of argument would be better than tweaking the globals.

[2019-06-12 16:26] parrt commented on #41
Well, once you convert to sklearn, they you can just call these. I'm not sure we need a PMML thing internally.

[2019-06-12 16:26] #41 closed

[2019-06-13 07:07] dhaitz commented on #30
@Ashafix , @parrt : Maybe something like this in `dtreeviz/trees.py`?

    GREY = "#ff0000"
    ...
    COLORS = {'label': GREY, ', 'title': BLACK}

    def dtreeviz(...,
                 colors: dict = None
                 ):

        if colors is None:  # fall back to module-level default colors
            colors = COLORS

[2019-06-13 16:15] parrt commented on #30
or just `colors:dict=COLORS`?

[2019-06-14 05:54] dhaitz commented on #30
@parrt ah yes, of course this is the simple and straightforward solution.

Another approach would be:

    if colors is None:
        colors = dict(COLORS, **colors)

which would allow you to overwrite only certain keys in the `colors` argument and use the defaults from `COLORS` for all others.

[2019-06-14 11:17] Ashafix commented on #30
Please have a look at https://github.com/Ashafix/dtreeviz/commit/ee02d0ffcb2486f0b1f9eaed5cf53ff778d0798c
and let me know if it's the right direction.

* Each function has an optional parameter `colors` which is a dictionary, each dictionary key can overwrite a default value.
* The colors are stored in `colors.py` allowing easy global modification
* Having a new optional parameter should allow re-

[2019-06-14 17:33] parrt commented on #30
@Ashafix Looks pretty good! widespread changes but it's adding a lot of control to the look of the plots.  could you make a PR?  I'm wondering if colors.py should be a separate file or included... thoughts?

[2019-06-14 18:30] Ashafix commented on #30
@parrt : Thanks for the quick feedback! Personal opinion, I'd prefer a separate file for the colors/configuration, but not my library.

I will test and document all parameters and then create a PR.

[2019-06-14 22:02] parrt commented on #30
sounds great. does extra file cause any package weirdness for users? if invisible, let's factor out into colors.py :)

[2019-06-20 04:24] GrahamHannington opened #44 "Donut charts in Graphviz"
Hi @parrt,

Following your suggestion via email (20 July 2019):

here's an extract from my email to you:

[2019-06-20 17:37] parrt commented on #44
Does d3 imply it only renders in a browser? Can this donut thing work purely in mpl and graphviz?

[2019-06-21 05:46] GrahamHannington commented on #44
Yes. The specific example I give in the code pen only renders in a browser.

Can this donut thing work purely in mpl

Yes. Setting Graphviz aside, mpl can do donuts
<https://matplotlib.org/3.1.0/gallery/pie_and_polar_charts/pie_and_donut_labels.html>.
Disclaimer: I have not used mpl for years.

Yes. The technique that I demonstrate in that browser-specific code
pen—that is, using the image attribu

[2019-06-21 19:45] Ashafix commented on #26
It's a bit more tricky than just having more colors.

`get_num_bins` gets called with `n_classes` as well and it references `NUM_BINS` which also only has 10 values.
What would be a good default value for `NUM_BINS` for `n_classes` > 10?

Any good ideas about having more colors?
Just repeating the colors and giving a warning, or making up new colors?

[2019-06-21 21:50] parrt commented on #26
Yeah, That's the problem. I started running out of ideas for colors and default values above 10.  May be a sequential color map is required.

[2019-06-21 21:51] parrt commented on #44
Hmm...well,I don't hate the pie charts enough to really worry about this, particularly if it requires that I do some thinking or has anything requiring a browser. ;) if it's okay with you I'm going to close this for now

[2019-06-21 21:51] #44 closed

[2019-06-22 07:04] GrahamHannington commented on #44
No worries, entirely your call. No browser required, but, yes, some thinking :wink:.

I chose donuts for two reasons:

* In some circles :roll_eyes:, nothing says "20th century" quite like a pie chart. Donuts, apparently, are the dessert chart du jour.
* I wanted to overlay a label—a computer transaction ID—on each chart. I preferred the cleaner look of the label on the graph background color rath

[2019-06-24 15:42] parrt commented on #44
very impressive!

[2019-07-03 21:26] mattharrison commented on #30
While you are on colors, could you do font's as well :) (Ie make them configurable)

[2019-07-05 17:18] Ashafix commented on #30
@mattharrison : one PR at a time...

[2019-07-05 17:26] #30 closed

[2019-07-05 17:39] parrt opened #45 "Minor tweaks to get new color map stuff to work on my Mac"
@Ashafix did some amazing work in https://github.com/parrt/dtreeviz/pull/43 but I think some imports in trees.py were missing. added node_label to dict. a few tweaks.

[2019-07-05 17:40] #45 closed

[2019-07-06 06:18] Ashafix opened #46 "Documentation on how to set colors is missing"
* No documentation on how to set colors
* Some of the SVG files in the `colors.ipynb` notebook are missing

[2019-07-06 15:56] #46 closed

[2019-08-21 20:23] vinnsvinay opened #48 "Large svg files being generated for datasets having more than a million records"
I am trying to visualize a decision tree for one of the random forest regression models I have built and I have noticed that the svg file size is around 1.3 gb. I have reduced the depth of the model and changed the visualization to non-fancy (fancy = false) but it still generates a 250 mb+ svg file because of which rendering fails. These huge file sizes are because of the histograms being generate

[2019-08-21 20:46] parrt commented on #48
Hiya. can you use the "nonfancy" version? There's a parameter.

[2019-08-21 21:07] #48 closed

[2019-08-21 21:10] vinnsvinay commented on #48
Hi Terrence,

I have used fancy = False, even then the image size is very big. It's because of the scatter plots drawn in leaf nodes. Is there an option to disable scatter plots for leaf nodes? I am currently changing the code to disable the scatterplots at leaf nodes but it just creates empty plots and makes it look very ugly.

Thanks,
Vinay

[2019-08-21 21:12] parrt commented on #48
oh!! yeah, svg is clean but huge. Can you generate that image then convert to PNG?

[2019-08-21 21:14] vinnsvinay commented on #48
I am trying to use online converters to convert but none of them are accepting svg files over 250 mb. I have edited the code in regr_leaf_viz function to disable drawing the scatter plot which makes it look very ugly. Will try some other visualizations to enhance the leaf nodes.

[2019-08-21 21:18] parrt commented on #48
can you try saving svg file to disk THEN converting?

[2019-08-21 21:21] vinnsvinay commented on #48
I saved the svg file using save_svg function and used online converters to convert it to jpg/png format

[2019-08-21 21:22] parrt commented on #48
Why not call `convert` or something via os.exec()? (i.e., standard commands from command line)

[2019-08-21 21:23] vinnsvinay commented on #48
I wasn't aware of them. I will try that. Thanks Terrance.

[2019-08-22 21:53] georgesteve opened #49 "list index out of range for regressor with y in {0,1}"
Hi, thank you for your library, I think it's very useful to show the results, specially I like treeviz_bivar_3D , I was trying to compile a code with 2 variables and 1 binary output, but I obtain this error, I'm not sure if it was because the data type:

[code]

[2019-08-22 22:16] parrt commented on #49
hi. Seems like X_train, y_train are a bit out of sync sizewise based upon that error msg.

[2019-08-26 13:41] georgesteve commented on #49
Thank you for the answer!
You are right, I'm really sorry, I uploaded that error by mistake, I actually wanted to upload this one:

[code]

[2019-09-12 16:14] qarabati opened #50 "TypeError: can't multiply sequence by non-int of type 'float'"
Thansk for the code and tutorial. I found it very useful.
I am getting TypeError in my dataset. I set up this easy dataset and still getting the same error.

TypeError: can't multiply sequence by non-int of type 'float'

It maybe caused by feature_names because in your example you always used datasets that already have feature_names set up. Can you help me with that?

import pandas as pd
from skle

[2019-09-14 12:46] Ashafix commented on #50
* `y_train` needs to be a Pandas Series, in your snippet it is a Pandas DataFrame, if you remove one pair brackets it should be a Series
* `y_train` should be a Series of numbers and `class_names` should contain the mapping of the numerical ids to the class names
* I added an additional check/conversion in this pull request: #51
* Can you try it with the modified code and updated library?

[2019-09-14 15:31] #50 closed

[2019-09-16 16:01] qarabati commented on #50
I converted the y-train to Panda series by adding:
y_variable=  df.ix[:,3]
And now the code is working. Thank you so much!

[2019-10-10 20:37] parrt opened #54 "Fix examples to use dtreeviz"
In [new examples](https://github.com/parrt/dtreeviz/blob/master/notebooks/tree_structure_example.ipynb)  the trees are displayed using the default sklearn not dtreeviz ;)  This is for @tlapusan :)

[2019-10-11 10:07] tlapusan commented on #54
I'll fix it soon

[2019-10-11 18:08] parrt opened #56 "outlines in leaf bar charts"
hi @tlapusan,  The leaf graphs are looking closer to the other style now but I think I'd prefer if you remove the background grid as it's different. If you still wanted, you could put an option as a parameter I guess.

 Also, note that I have an outline around the bars as a looks a lot better:

<img width="258" alt="Screen Shot 2019-10-11 at 11 05 52 AM" src="https://user-images.githubusercontent.

[2019-10-12 15:51] #56 closed

[2019-10-18 10:16] tlapusan opened #60 "viz for leaf samples distribution"
I would like to propose a new vizualisation type for leaf samples : by histrogram.
It is useful when you want to easily see the general distribution of leaf samples, instead of individual leaf samples.
More useful when there is a big tree with a lot of leaves and the bar plot vizualisation is hard to interpret.
For implementation, this will add another value ('hist') for display_type parameter fro

[2019-10-18 15:57] #54 closed

[2019-10-18 20:13] parrt commented on #60
Heh, looks pretty cool!  I think it is useful. Let's add

[2019-10-28 17:43] #60 closed

[2019-10-28 17:46] parrt opened #63 "Make leaf split plot for regressors to show distribution of leaf sample y's"
I wonder if a split plot per leaf would look ok; seems like it'd be useful, @tlapusan.  Here is a sample split plot.  Maybe one y range / axis on left and then tight grouping of split plots?

<img width="89" alt="Screen Shot 2019-10-28 at 10 44 58 AM" src="https://user-images.githubusercontent.com/178777/67703086-183fd280-f970-11e9-8276-e2d287521297.png">

[2019-10-28 18:27] tlapusan commented on #63
I'm not sure if i understood correctly. Would you like to include all the leaf split plots into a single new visualisation ?

Something similar with this ? :)
![Uploading leaf_regressor.jpg…]()

[2019-10-28 18:45] parrt commented on #63
yep, that's it!!!  Seems like it'd be useful just as the stacked histo is for classification

[2019-10-28 18:59] tlapusan commented on #63
Cool ! Do you have any web resources/experience of how to include subplots (leaf sample'y distribution) into another plot using matplotlib ?

[2019-10-28 19:57] parrt commented on #63
hahaha. i spent forever learning how to do that in this project. we shouldn't have to though. We can create a single plot that just does scattering with some noise for each leaf area. Here is [sample code](https://github.com/parrt/dtreeviz/blob/master/dtreeviz/trees.py#L1139):

[code]

So, basically, go to each leaf id and do a scatter that is x = id+noise and the y is just the y of samples at tha

[2019-10-29 09:37] tlapusan commented on #63
Nicee, I got the idea. I will start to implement it in the next days.

[2019-10-29 11:19] tlapusan commented on #63
While thinking about this new visualisation, I have remember the boxplot from matplotlib. I guess it's what we need : https://matplotlib.org/3.1.1/gallery/statistics/boxplot_demo.html.
It can show a lot of build in stats, like median, mean, quartiles, outliers, etc
@parrt what do you think ?

![boxplot](https://user-images.githubusercontent.com/12815158/67762505-4267c200-fa4e-11e9-99fe-de7bf6c7f98

[2019-10-29 15:13] parrt commented on #63
Only problem is that box plots are ugly ;)   The alpha channel helps density and human eye is really good at picking up spread of data.

[2019-10-30 11:30] tlapusan commented on #63
Indeed, box plot are a little ugly :)). I will take a look at the code that you mentioned

[2019-10-31 12:52] tlapusan commented on #63
I have an intermediate visualisation.
Here is how it looks for a tree with depth=3:
<img width="1017" alt="depth3" src="https://user-images.githubusercontent.com/12815158/67946106-3a905500-fbe9-11e9-8a5b-ba1246a26027.png">
depth=5:
<img width="1001" alt="depth5" src="https://user-images.githubusercontent.com/12815158/67946122-44b25380-fbe9-11e9-8c8f-ba0f4300247b.png">
depth=10:
<img width="1014" a

[2019-10-31 15:16] parrt commented on #63
looking interesting. for one we should tighten and fix the x direction so it's always the same. also dots should be bigger and then alpha channel can make darker areas show higher density. maybe graph is a bit too tall too. :)  Maybe we add a `show` arg like rtree_univar that turns off x labels?  Or maybe just show prediction to make smaller?

[2019-10-31 17:34] tlapusan commented on #63
1. 'for one we should tighten and fix the x direction so it's always the same.'
Do you mean to hardcode a fix value for figsize argument ?
2. 'also dots should be bigger and then alpha channel can make darker areas show higher density'
agree, we can also make the markersize configurable
3. 'Maybe we add a show arg like rtree_univar that turns off x labels? '
agree
4. Or maybe just show prediction

[2019-11-01 12:52] tlapusan commented on #63
@parrt could be an option to show the leaves in multiple plots when the number of leaves is big ?

Something like this :
<img width="349" alt="depth" src="https://user-images.githubusercontent.com/12815158/68026070-329ee680-fcb7-11e9-9010-32fc1d59ae53.png">

[2019-11-01 17:32] parrt commented on #63
Looking good! Yes, i suppose we could split up but that's harder to implement. maybe args that say leaf ID range min/max?

1. 'for one we should tighten and fix the x direction so it's always the same.'
Do you mean to hardcode a fix value for figsize argument ?
*I just meant that any specific leaf split plot should be same width; don't smear it out to fit graph width.  Graph width is function of h

[2019-11-02 14:27] tlapusan commented on #63
I created a PR. We can add modifications on it.
I added the option to create more plots, with a specified number of leaves/plot (plot_leaf_count)

For 1 :
- I added a configurable figsize for the plot. In case of multiple plots, the last plot will keep the same width for leaves as others plots.
2. Done
3. in the end, I added show_leaf_labels bool parameter (similar with dtreeviz method), it seems

[2019-11-02 18:38] parrt commented on #63
Cool. What about just `20.4` not `age=20.4` to make even smaller. Then make `age` the overall x label?

[2019-11-02 18:40] parrt commented on #63
actually that might look weird like it's the x-value when in fact it's the leaf id. hmm...what if we put the predicted value at the *top* and then we don't actually need an x tick label?  We'd just need "leaf id" or something for the grpah xlabel and then "age" for ylabel.

[2019-11-04 17:31] tlapusan commented on #63
I created the horizontal implementation for visualisation. I like how it looks, it's a better option than multiple plots. I also added a configurable 'grid' parameter, which shows the grid in visualisation (it helps to identify leaf's dots).

I feel that we need to came up with better values for x, y labels (like you pointed up in previous comment).

<img width="358" alt="Screenshot 2019-11-04 at

[2019-11-04 18:00] parrt commented on #63
Yeah, certainly repeating the target name is not optimal. I'd suggest something like:

<img width="358" alt="foo" src="https://user-images.githubusercontent.com/178777/68145072-cd7f0700-fee9-11e9-9dde-d67d5410de21.png">

Also let's try to keep things tightened up with perhaps less vertical space between leaves?

[2019-11-04 18:11] tlapusan commented on #63
"Yeah, certainly repeating the target name is not optimal. I'd suggest something like:"
I will make a little research how to put the label in the right side of y axis.

"Also let's try to keep things tightened up with perhaps less vertical space between leaves?"
For this I will need to adjust the 'mu' and 'sigma' values and maybe the leaf index...

[2019-11-04 18:12] parrt commented on #63
For spacing, i think just shrink total height of graph maybe?

[2019-11-04 18:14] parrt commented on #63
For the text, you can pick an x and then `ax.text(x, y, "37.3")` but might have to turn off clipping at boundaries so it appears.  Or, set xlim to 20% more and turn off tick marks/labels for that part then `ax.text()` there.  beat it into submission!! haha

[2019-11-04 18:19] tlapusan commented on #63
It shrinks a little, but there is still a lot of space. Because the standard deviation between dots is sigma=0.08, with mean = 0.5 (mu value). leaf index are from 1 to 1... tomorrow, I will play with different values for them.

[2019-11-05 10:09] tlapusan commented on #63
- reduced the space between leaves. Created a parameter for these also (leaf_space)
- about y axis, I put "leaf prediction" as a label and leaf predictions for y ticks. I looks well for me, it makes the graph loaded with few information. @parrt what do you think ? :)

<img width="266" alt="Screenshot 2019-11-05 at 12 03 10" src="https://user-images.githubusercontent.com/12815158/68198231-4fdbf980-

[2019-11-05 16:07] parrt commented on #63
Looking better! I think it's confusing to see prediction on y. that should be "leaf" I think as you had it. :)  also maybe double thick the prediction bars?  Perhaps your split plots have a too-high variance, maybe tighten up more like

<img src="https://user-images.githubusercontent.com/178777/67703086-183fd280-f970-11e9-8276-e2d287521297.png" width="100">

The idea is that it's kind of a "shaky

[2019-11-06 12:07] tlapusan commented on #63
hi @parrt.
- I added the y label in the right side of the plot.
- narrow the leaf dots visualisations
- double the prediction bars

Here it is how they look now :)

<img width="245" alt="Screenshot 2019-11-06 at 14 02 16" src="https://user-images.githubusercontent.com/12815158/68297044-b46b8700-009e-11ea-8e13-ecc8f569acfe.png">
<img width="198" alt="Screenshot 2019-11-06 at 14 02 41" src="https://

[2019-11-06 19:33] parrt commented on #63
wow!  now that is a damn fine looking plot, sir!   I will merge!

[2019-11-06 19:34] #63 closed

[2019-11-18 16:00] tlapusan opened #65 "Discover data patterns by investigating leaf training samples"
Generally speaking, ML trained models can be used to both make predictions and/or to better understand our data.
Until now, we have created visualisations for histogram of classes in leaves, split plots for the regressor leaves, but we don't have a way to find out more about training samples reaching those leaves.
I think it will be useful to have a method to return the leaf training examples and

[2019-11-18 18:22] parrt commented on #65
I agree that get_node_samples() functionality would be useful but I think we already have in shadow.py:

[code]

[2019-11-18 18:23] parrt commented on #65
I'd like to see more interpretation stuff that explained the path from the root down to the leaf. I.e., `explain(test_vector)` would tell me lots about why it gets the prediction it gets.  Perhaps we can add counterfactuals to indicate how to tweak a given record in order to make it select a particular class such as "give loan" or "do not predict cancer"

[2019-11-18 19:00] tlapusan commented on #65
Nice, good to know :). I will add few examples of it in notebooks (will help also to make it more visible)

[2019-11-18 19:09] tlapusan commented on #65
I have two types of visualisations for prediction path interpretation, but they require a facelift :))
Would be nice to keep the same visualisation as dtreeviz(), but to show only the prediction path. I will take a deeper look at how dtreeviz() is implemented and maybe I can adapt it to prediction path.

<img width="324" alt="decision_tree_prediction_path" src="https://user-images.githubuserconten

[2019-11-18 19:12] parrt commented on #65
well, it already does the prediction path; you can take a look at the examples. It just doesn't combine all of the decision nodes into some readable English text that explains why somebody did not get their loan.  The decision trees we have already show those histograms so I think everything is already incorporated that you mention. :)

[2019-11-18 19:24] tlapusan commented on #65
yes, indeed. I was aware of it, but I thought that you mean a visualisation only for nodes from prediction path...

<img width="1028" alt="Screenshot 2019-11-18 at 21 19 55" src="https://user-images.githubusercontent.com/12815158/69082660-36699180-0a49-11ea-83c5-9fe850ec15aa.png">

I will think what we can do here. If you have any suggestions, let me know ;)

[2019-11-18 19:26] parrt commented on #65
Oh right! Yes, a way to turn off non-prediction path nodes would be a useful option to the visualizer. should be a simple new boolean like "show_just_path" that works if they pass in a sample test record.  It would turn off the orange highlighting and just show the nodes on the path.

[2019-11-18 19:30] tlapusan commented on #65
it will help especially if the tree is very deep.

[2019-11-18 19:30] parrt commented on #65
We could summarize the "weight" of each  feature used to get through the path. currently i just highlight the feature in orange in test vector. We could use "avg contribution". see https://christophm.github.io/interpretable-ml-book/tree.html#interpretation-2

[2019-11-18 19:35] tlapusan commented on #65
I guess this is a possible solution for "It just doesn't combine all of the decision nodes into some readable English text that explains why somebody did not get their loan." . Right ?

Thanks for the link. It seems like a book to read.

[2019-11-18 19:58] parrt commented on #65
Yep. the link shows how to compute "gini drop" importance for a single instance. also i wonder if just combining all decisions `<` and `>` into a single range per feature could be useful.  I.e., "your income was in this range" and your education was in this range...

[2019-11-18 20:03] parrt commented on #65
Ah. I think this RuleFit alg is what I'm thinking: https://christophm.github.io/interpretable-ml-book/rulefit.html  https://arxiv.org/abs/0811.1679

[2019-11-18 20:13] parrt commented on #65
Ah. see this stuff http://blog.datadive.net/interpreting-random-forests/
<img width="730" alt="Screen Shot 2019-11-18 at 12 12 52 PM" src="https://user-images.githubusercontent.com/178777/69089223-c33a2e00-09fc-11ea-9009-d0023604c73c.png">

[2019-11-18 23:09] parrt commented on #65
Also see https://scikit-learn.org/stable/auto_examples/tree/plot_unveil_tree_structure.html which shows how to do English descriptions like:

[code]

[2019-11-26 16:16] DJCordhose opened #66 "label on leaf node"
Would it be possible to put the name of the predicted class on a leaf node instead of just the color?

[2019-11-26 16:17] DJCordhose opened #67 "make size of plots configurable"
It would be great to have the sizes of plots configurable on all platforms even as SVGs. Same of the plots come out quite tiny and hard to read by default.

[2019-11-26 16:22] DJCordhose opened #68 "improve documentation on coloring"
What would I need to do to change the colors of the classes? Maybe provide a simple example (in a notebook).

[2019-11-26 17:49] Ashafix commented on #68
Did you have a look at the end of the readme file and notebooks/colors.ipynb?

If it doesn't answer your question, it should be added to the documentation.

[2019-11-26 18:04] DJCordhose commented on #68
I have and have even read source code and made some experiments, but did not get it to work. Also looked at a notebook that did some coloring, but simply did not understand it.

[2019-11-26 20:04] parrt commented on #68
Sounds like we need some simpler examples.

[2019-11-26 20:08] DJCordhose commented on #68
Or maybe the API is just too complex. I don't know, because I still don't understand 😀

[2019-11-28 13:13] tlapusan opened #70 "show_just_path_prediction"
I started to work on showing just the prediction path (based on what we discussed in a previous issue)

Right now, it looks like this :
<img width="547" alt="Screenshot 2019-11-28 at 15 01 21" src="https://user-images.githubusercontent.com/12815158/69808608-93570b80-11f0-11ea-9fe4-336b6bd1aba1.png">

Am I on the right track ? :) Do you think we need to show also the neighborhood nodes. I don't hav

[2019-11-28 17:50] parrt commented on #70
Looks pretty cool! I think our goal, though, is to show the path from root to predictor leaf in a big tree as tightly as possible. I wonder what it looks like as a vertical stack of just the decision nodes entered and then the leaf.  That would be the smallest footprint, which I think is kind of the goal here. what do you think?

[2019-11-28 20:02] tlapusan commented on #70
Indeed, if I look again at above visualisation, it looks 'scattered'. I will adjust it to the vertical stack version. Let's see how it'll look ;)

[2019-11-28 20:59] tlapusan commented on #70
It looks much cleaner now :)
<img width="758" alt="Screenshot 2019-11-28 at 22 55 03" src="https://user-images.githubusercontent.com/12815158/69831554-85c27580-1232-11ea-918a-1549bb3f3863.png">

[2019-11-28 21:04] parrt commented on #70
heh, nice work! I like it. Does it work horizontally too? I think we have an option for that.

[2019-11-28 21:13] tlapusan commented on #70
cool. By horizontally.... do you mean a horizontal stack instead of vertical stack ?

[2019-11-28 21:13] parrt commented on #70
yep, left to right

[2019-11-28 21:18] tlapusan commented on #70
wouldn't be a problem if the prediction path is very deep ? I think we will end with a 'crowdy' plot.

[2019-11-28 21:29] parrt commented on #70
well, sometimes you want very tall and sometimes very wide. seems like original code can change orientation so this should inherit that; i assume you just cut/paste, right?

[2019-11-29 07:17] tlapusan commented on #70
I wanted to use as much functionality as possible from dtreeviz(), so I didn't cut/paste. I will take a look for horizontal view.  There is little work left also for vertical view, I made a little 'hack' to create the visualisation with vertical view for decision nodes only :)

[2019-11-29 16:47] parrt commented on #70
We can skip horizontal if it gets messy in the code :)

[2019-11-30 17:07] tlapusan commented on #70
For horizontal view I didn't have to do any extra logic, it was already in dtreeviz() code ;)

<img width="354" alt="Screenshot 2019-11-30 at 19 02 33" src="https://user-images.githubusercontent.com/12815158/69903607-60557900-13a4-11ea-8158-a2365d058f9a.png">
<img width="914" alt="Screenshot 2019-11-30 at 19 03 22" src="https://user-images.githubusercontent.com/12815158/69903608-60557900-13a4-11ea

[2019-11-30 17:50] parrt commented on #70
Looks great!  Only question is, how do we activate this? Seems like it should be an arg to existing tree viz functions.  Oh, I see you have `show_just_path`.  Sounds good! Please do make a PR.  Does it work for regression trees too?

[2019-11-30 18:13] tlapusan commented on #70
I didn't try it on regression trees. I will try it tomorrow.

[2019-12-01 15:01] tlapusan commented on #70
yey, it works also for regression trees. I will create a PR for this.

<img width="285" alt="Screenshot 2019-12-01 at 16 59 27" src="https://user-images.githubusercontent.com/12815158/69915842-2a73cb80-145c-11ea-9b68-24844e745d3d.png">

[2019-12-01 16:35] parrt commented on #70
great job!

[2019-12-01 16:36] #70 closed

[2019-12-01 19:46] Ashafix commented on #68
Right now the documentation says about the class colors:

The usage would be
[code]

Any ideas on how to improve the documentation are appreciated and I'd be happy to add it to the documentation.

[2019-12-01 19:55] DJCordhose commented on #68
What about simplifying that example to something much more basic as a first step?

[2019-12-04 20:59] #66 closed

[2019-12-04 21:08] parrt commented on #67
Can we get away with a scale factor on entire SVG? I see lots of figsize specs for each node in tree (hardcoded). Not sure there's an easy way to change all matplotlib figsizes.  And, do you mean in notebooks or when calling viz.view()?  Where are they tiny? I've not seen that. Colab?

[2019-12-04 21:41] #68 closed

[2019-12-04 22:17] parrt commented on #49
Heh, don't you want a classifier here not a regressor? `Pagador` looks boolean

[2019-12-04 22:45] parrt commented on #49
I think you want:

[code]

Regardless, I fixed so {0,1} doesn't cause crash for regression partitioning :)

[2019-12-04 22:49] #49 closed

[2019-12-04 23:31] DJCordhose commented on #67
Yes, in notebooks, e.g. on Colab, but also locally. Scaling factor would be great

[2019-12-04 23:41] parrt commented on #67
Hmm...I'm not sure how to scale the svg. I think this kinda thing might work:

[code]

Nope. doesn't work

[2019-12-05 00:54] parrt commented on #67
Boom, Jack!  `scale` parameter, but only on dtreeviz()

[code]

[2019-12-05 00:55] #67 closed

[2019-12-05 09:46] DJCordhose commented on #67
This looks great, but nothing more than I expected :)

Did you already publish 0.8.1, still getting 0.8.0 when installing via pip

[2019-12-05 10:00] DJCordhose commented on #66
how do I turn this on, what is the magic parameter?

[2019-12-05 10:10] DJCordhose commented on #68
Very good, I can now do what I want! Thank you so much!

[2019-12-05 19:46] parrt commented on #66
It is on by default

[2019-12-08 06:46] shan-96 opened #72 "Getting "TypeError: 'module' object is not callable" while calling dtreeviz method"
while running the code:

[code]
getting error  as below:

[code]

[2019-12-08 06:59] #72 closed

[2019-12-10 23:33] hackenjoe opened #73 "Plot in a for loop not shown in iPython notebook?"
How can you plot a decision tree several times within a for loop such as

    `for i in range(2):
    viz = dtreeviz(clf,
               iris['data'],
               iris['target'],
               target_name='',
               feature_names=np.array(iris['feature_names']),
               scale=2,
               class_names={0:'setosa',1:'versicolor',2:'virginica'})

    viz`

The Jupyter notebook

[2019-12-11 00:16] parrt commented on #73
Try `viz.view()` but that would pop up new window each time. you'll need to use subfigs or whatever to display all together in notebook.

[2019-12-11 00:16] #73 closed

[2019-12-11 17:07] hackenjoe opened #74 "No title option for plot"
is it possible to add a title to the dtreeviz plot? Something like plt.title("This is a plot").
I have searched the documentation on GitHub but didn't find any hint for this parameter.

[2019-12-11 19:29] Rkubinski opened #75 "Highlighting features used by prediction path"
Is there any way to remove highlighted features used by prediction path or print them differently like in a table along with their importances ? Please see picture below - the features are quite smushed together and I would like to present them in a different manner or not present them at all.
![tree](https://user-images.githubusercontent.com/13441044/70653467-8d1a5380-1c22-11ea-8625-670436c221d9.

[2019-12-11 20:04] tlapusan commented on #75
Hi @Rkubinski, thanks for your feedback.
Indeed, feature names and their values aren't displayed properly in your picture above. Give us some time and we will came up with a better solution. Thanks.

[2019-12-11 20:18] Rkubinski commented on #75
Great ! Thanks :)

[2019-12-11 22:35] parrt commented on #75
Weird.  Is that on windows? mac?  Does it do same if vertical?

[2019-12-12 17:23] Rkubinski commented on #75
Same problem with vertical, this is on Ubuntu 18.10

[2019-12-12 17:27] parrt commented on #75
Ok, this was a font metrics problem when it was happening on mac/windows. Maybe we need to make that configurable. or if already is, please try diff font.

[2019-12-12 17:59] Rkubinski commented on #75
Where do I pass a font type option ? Dont see such a parameter for dtreeviz object

[2019-12-18 15:44] tlapusan commented on #75
@Rkubinski can you provide the list of feature names ? I tried to reproduce the issue with long feature names and it works.

<img width="996" alt="Screen Shot 2019-12-18 at 5 44 25 PM" src="https://user-images.githubusercontent.com/12815158/71100651-10591d80-21be-11ea-9d60-0bc67a9e23be.png">

[2019-12-18 15:45] tlapusan commented on #75
dtreeviz() method has the 'fontname' parameter

[2019-12-18 15:50] Rkubinski commented on #75
Ok, I was not sure what you meant by font metrics.
Here are my commands:
colors_2_classes= [None,  # 0 classes
                              None,  # 1 class
                              ['green','red']]
viz3 = dtreeviz(estimator,
               X,
               y,
               target_name='Diagnosis',
              feature_names=OTUs,
               class_names=["nonIBD", "IBD"],

[2019-12-18 17:13] tlapusan commented on #75
@Rkubinski, indeed you have a long list of features :).
If you are training your model, let say with only 30% of the features, do you have the same issue ?

Meanwhile I will try to reproduce the issue with a list of features similar in length with yours ;)

[2019-12-28 15:27] tlapusan commented on #65
hi @parrt. I added to tree_structure_example notebook few leaf sample investigations (created a PR also #76 ).

It looks something like that :
<img width="582" alt="Screenshot 2019-12-28 at 17 08 31" src="https://user-images.githubusercontent.com/12815158/71545633-3fc61200-2996-11ea-884a-29fcaabce1b6.png">

Right now to get the leaf samples, we need the following code :
`node_samples = ShadowDecTr

[2019-12-28 17:29] #65 closed

[2019-12-28 17:31] parrt commented on #65
looks great!  Hm...yeah, but don't we need the model in there? `describe(mytreemodel, node_id, dataset[features])`

[2019-12-28 18:05] tlapusan commented on #65
yes, we need also the model as a parameter :)

[2019-12-30 14:16] tlapusan commented on #75
I created a vertical version for instance table. It is configurable through instance_orientation parameter.
This vertical version maybe could help @Rkubinski. Also it's helpful when we have a large set of features and the horizontal table become too large...

@parrt do you have a better name for instance_orientation parameter ?

<img width="1022" alt="Screen Shot 2019-12-30 at 4 09 16 PM" src="htt

[2019-12-30 16:35] Rkubinski commented on #75
Hi,
Sorry for the delay in responses. I have the same issue when I do a feature reduction, so it seems to be due to the feature names. When do you think the instance orientation update could be pushed ?

[2019-12-30 17:39] tlapusan commented on #75
I plan to make a PR tomorrow :)

[2019-12-30 17:42] parrt commented on #75
`instance_orientation` seems pretty good. maybe `test_orientation`? `prediction_orientation`? hmm... maybe yours is best.

[2019-12-31 12:59] tlapusan commented on #75
@Rkubinski I have just created the PR #78 . I hope it will solve your issue. Waiting for your feedback ;)

[2020-01-01 23:44] Rkubinski commented on #75
Hi guys. Thank you so much for the help. I am still new to this, I tried to update dtreeviz via pip but I guess that has not been updated yet. So to use this new version, I am assuming I would have to pull from github and run the scripts directly ?

[2020-01-02 15:50] tlapusan commented on #75
Hi @Rkubinski, yes, you can use the master version from repo until @parrt will make a new release.

[2020-01-02 16:30] Rkubinski commented on #75
@tlapusan  Great! Ill get back to you when Ive tested it out

[2020-01-11 08:51] Jacky2Wong commented on #15
Is there a way to determine which tree is the best to show by default? I was thinking ideally the one with the minimum loss value but I am not sure if XGBoost has a method that tells us which tree this is.

[2020-01-14 20:03] tlapusan opened #79 "Feature importance for instance prediction"
Hi @parrt,
In another issue (#65 ), we have discussed about making a prediction more English readable. One solution was to show the feature importances only for nodes on the prediction path.
I have looked into sklearn source code and I have found how feature importance is calculated for a decision tree. I could extract that code and adapt it to get the feature importance for a prediction path.
I c

[2020-01-14 20:41] parrt commented on #79
Their def of feature importance is biased though. ;) See [Beware Default Random Forest Importances](https://explained.ai/rf-importance/index.html)

[2020-01-15 08:00] tlapusan commented on #79
Thanks for the link. I will take a look over it.

[2020-01-28 15:33] tlapusan commented on #79
Hi @parrt, I have thought how to adapt permutation importance for instance prediction path...

1. We need to establish a "validation" set.
This could be the samples from training set which arrived in the prediction path leaf(we already have this functionality)
Or we can extract the samples from raw validation set which arrived in the leaf. (this could be pretty time consumption)

2. Shuffle featur

[2020-01-28 18:22] parrt commented on #79
Hmm...now that I think about this, maybe all we need is something that indicates in english what feature space boundaries are. Like you didn't get loan because your NUMCREDITCARDS was greater than 3 or something.

[2020-01-29 11:45] tlapusan commented on #79
Sure, this is also an option to describe the prediction path.
I wouldn't abandon the idea to show also the default feature importances from instance path....they are not biased all the time :)

We can define a parameter for dtreeviz() method and let the user to chose what values to display for prediction path features. Maybe in the feature we will find a way to implement the permutation importance

[2020-01-30 15:24] tlapusan commented on #79
hi @parrt, a use-case to deal with for permutation importance ...
Something to take in consideration is when training set is 'different' than validation set. For example if feature age would have a different set of values in training set compare with validation set. I think that permutation importance is biased by different values distributions in train/validation.
Of course, when we split in trai

[2020-01-30 23:58] parrt commented on #79
Yes, I think it is useful to show the increase in impurity in the nodes as we go down but I don't think it's a high priority to add the feature importance derived from the tree, particularly because I'm going to publisher much better method in the next couple of months :)

The permutation importance chooses features based upon the validation set which really should be from the same distribution; i

[2020-01-31 13:42] tlapusan commented on #79
Should I start thinking how to implement this one ? or do you plan to work on in in the next months ?

[2020-02-05 17:27] tlapusan commented on #79
HI @parrt, any feedback on this?

[2020-02-05 18:41] parrt commented on #79
yes, please try out an "explain(x)" method or some such that tries to merge decisions made on path to leaf and explain in english.

[2020-02-13 16:09] tlapusan commented on #79
hi @parrt, I have an initial version for prediction path explanation.

<img width="1020" alt="Screen Shot 2020-02-13 at 6 06 36 PM" src="https://user-images.githubusercontent.com/12815158/74453815-9e364980-4e8b-11ea-8909-d58319d666f3.png">

Do you think we need to add other text for method's output ?

I have created explain_prediction_path() method to be easily adaptable for other types of explana

[2020-02-13 20:24] parrt commented on #79
heh, thanks looks pretty good!

[2020-02-14 08:33] tlapusan commented on #79
cool, I need to do some refactoring, after that I will make a PR.

[2020-02-25 07:44] tlapusan commented on #75
hi @Rkubinski, any feedback ? can we close this issue ?

[2020-02-25 15:00] Rkubinski commented on #75
Hi guys, sorry for the delay in feedback, it did work out in the end :)

[2020-02-25 15:00] #75 closed

[2020-02-25 15:32] tlapusan commented on #79
Hi @parrt,

I have added also implementation for prediction path using sklearn default method.
I have added into its method's documentation about the fact it can be biased (added also the link to your article).
Taking in consideration that it is not biased all the time and that majority of sklearn users are using this version of feature importance, I think that this implementation is also useful t

[2020-03-02 18:18] parrt commented on #79
Looks really great!

[2020-03-04 20:38] #79 closed

[2020-03-11 18:00] EricCacciavillani commented on #26
Currently running into the same issue for an idea I am testing.
But totally understandable. Maybe a semi-simple and quick workaround is just to declare a simple target to color hex dict.

`{0: #fcba03,
   1: #fc03a9}`

[2020-03-23 15:41] tlapusan opened #81 "Visualize leaf criterion"
hi @parrt,

leaves from regressor and classifier trees contains two important information : number of samples and criterion.
Criterion for regressor are “mse”, “friedman_mse”, “mae” and for classifer are "gini" and "entropy". All of them shows the leaf performance/confidence for its predictions.

I think would be helpful to have some visualisations for leaf criterion. Each leaf performance, in the

[2020-03-30 13:58] tlapusan commented on #81
hi @parrt, any feedback on this ? :) thanks

[2020-03-30 17:12] parrt commented on #81
Sorry for the delay. Been focusing on paper.  if I understand correctly, we already have a histogram of number of samples but you are proposing adding histogram showing the criterion?

[2020-03-30 17:13] parrt opened #83 "support XGBoost and lightgbm?"
It would be useful to support decision trees from gradient boosting machines. Should be a simple matter of creating a shadow tree from one of the trees in the boosted ensemble.  Interested in this one @tlapusan ?

[2020-03-30 17:23] tlapusan commented on #81
@parrt, yes, that's correct. I've already mentioned the reasons why I think these new visualisations  can add new values/insights :)

[2020-03-30 17:31] parrt commented on #81
I think this is useful. (btw, We should be careful to make sure that our histograms always have bar width that are the same for consistency, just like they are in the decision nodes.)

I wonder if we want a combined diagram where we multiply the number of samples by the criterion?  Maybe both? Then, at a glance, people can look at the histogram to see which ones have the most confidence?

[2020-03-30 17:33] tlapusan commented on #83
@parrt for sure :).
I've thought about this also. In will look soon over it.
But how I imagine this:
 - to have an internal representation/interface for a Node and a Tree.
 - create an implementation for Node/Tree for each library we want to support.
 - all visualisations to be based on internal Node/Tree
If we want to support another library, all we have is to implement its representation for Nod

[2020-03-30 17:36] parrt commented on #83
yep, That was my intention for the shadow trees... they are a generic and normal looking tree that is not worried about efficiency, whereas the sklearn stuff is a bunch of parallel arrays to avoid creating objects per nodes.   It should be a simple matter of walking the trees from the gradient boosting libraries and creating shadow trees. then all of our stuff will just work.

[2020-03-30 17:40] tlapusan commented on #81
I like the idea of multiplying number of samples by criterion. I will make a plot to see how it looks.

I don't know what you mean by "Maybe both?" :)

[2020-03-30 17:51] parrt commented on #81
Maybe we want a separate histogram to show the criterion and the ability to show the multiplication of the two.  Actually, if the criterion is an error metric, then we should be dividing by the error, since that will give a bigger bar if the error is low.

[2020-04-01 15:03] tlapusan commented on #81
hi @parrt,

I started to think at visualisations about sample/criterion for leaves.
But when I put it on paper, something happened :).
Let's say we have two leaves, with 10 and 100 samples. Criterion 0.1 and 1 (for entropy, 1 is the worst)
based on our above formula :
leaf1  10/0.1 = 100 confidence
leaf2  100/1 = 100 confidence

OR another example :
leaf1 10/0.5 = 20
leaf2 20/0.5 = 40  (here these

[2020-04-01 16:44] parrt commented on #81
yeah, any combo can lead to trouble, even if we normalize counts to 0..1.  Same ratio problem. hmm...  maybe we simply add the loss function value on top of each bar for leaf count graph and vice versa for leaf loss graph?

[2020-04-01 18:21] #81 closed

[2020-04-08 04:17] pplonski opened #85 "How to visualize trees from cross-validation?"
I'm doing 10-fold cross-validation and as a result, I have 10 trees. How to visualize them?

I assume that I need to do visualization for each tree. However, it can be not comfortable, because I will have 10 images and it will be hard to find similar patterns between trees. Is there a method to make a single visualization from many trees, that will show common patterns between trees?

What about t

[2020-04-08 16:56] parrt commented on #85
Hi. You will have to visualize each tree separately. I'm unaware of a way to compare the trees easily. One thing you could do is generate a text version of each tree and then use a difference tool to compare the  text representations.

[2020-04-08 16:56] #85 closed

[2020-04-14 14:18] pplonski opened #86 "How categorical values are handled?"
Sklearn decision tree doesn't work with categorical values. Before using decision tree, I'm converting categoricals, for example to integers (with `LabelEncoder`). In the tree visualization, there is presented converted value. Is there an option to better handle categoricals?

[2020-04-14 17:45] parrt commented on #86
Label-encoding categorical variables for decision trees or random forests is the easiest and most correct solution.  That means converting every category level to a unique integer so it sounds like you're doing the right thing.   If you pass in the list of category names that should display that in the trees.

[2020-04-14 18:56] pplonski commented on #86
I was trying to replace columns Categorical <-> Integer but I cant make it work.

Here is the example:

[code]

I got error:
[code]

[2020-04-14 19:33] parrt commented on #86
Can you use the LabelEncoder()? Or do it manually via [https://github.com/parrt/stratx/blob/master/notebooks/support.py](https://github.com/parrt/stratx/blob/master/notebooks/support.py)

[code]

[2020-04-14 19:34] parrt commented on #86
ooh! you can't use

[code]

gotta use encoded feature 1

[2020-04-14 19:50] pplonski commented on #86
No! It doesn't solve the issue. I would like to have categorical values on the tree visualization plot.

1. This is my data.
[code]
2. I can't use this data for tree classifier training because it has categoricals.
3. I need to convert categorical to integer (for example).
4. The very simple conversion:
[code]
5. In this very simple conversion, I set integers by hand.
6. I've trained the tree.
[co

[2020-04-14 19:50] pplonski commented on #86
No! It doesn't solve the issue. I would like to have categorical values on the tree visualization plot.

1. This is my data.
[code]
2. I can't use this data for tree classifier training because it has categoricals.
3. I need to convert categorical to integer (for example).
4. The very simple conversion:
[code]
5. In this very simple conversion, I set integers by hand.
6. I've trained the tree.
[co

[2020-04-14 19:52] parrt commented on #86
I do it all the time. have you looked at the examples?  I suggest a more civil tongue

[2020-04-14 20:04] parrt commented on #86
@tlapusan did we break something? Can you take a look and help @pplonski ?

[2020-04-16 05:34] tlapusan commented on #86
Hi @parrt, sure, I will take a look soon, I hope that today

On Tue, Apr 14, 2020, 23:05 Terence Parr <notifications@github.com> wrote:

[2020-04-16 09:02] tlapusan commented on #86
@parrt we did't break anything ;)

@pplonski it was very helpful that you have send your code, it helped a lot for debugging .
The issue is that you've trained the model using df[["feature_1_converted", "feature_2"]] and df[["feature_1", "feature_2"]] to call dtreeviz() method. You need to have the same set of columns.

Please let a comment if it's working for you now.

<img width="1024" alt="Scre

[2020-04-16 09:15] pplonski commented on #86
Do you think, is it possible to pass original categorical values, to be printed in the output tree? I would like to see 'a' and 'b' in `feature_1` in the plot.

[2020-04-16 09:19] pplonski commented on #86
The expected output tree:

![image](https://user-images.githubusercontent.com/6959032/79438631-11ffea00-7fd4-11ea-85bd-f5385b2f7bcb.png)

[2020-04-16 16:09] parrt commented on #86
@pplonski as I said the first time which you ignored: "ooh! you can't use: df[["feature_1", "feature_2"]], gotta use encoded feature 1.  Anyway, pass in the category names. We are clearly doing this. you must look at the examples:

![](https://github.com/parrt/dtreeviz/raw/master/testing/samples/breast_cancer-TD-4-simple.svg?sanitize=true)

[2020-04-16 16:13] parrt commented on #86
@tlapusan ha! We *don't* have an example where the tree nodes are cat vars!  We should think about this.  Nonetheless, you gotta pass in encoded vars to the classifier. We just need a split cat node example that shows how to get labels.

[2020-04-16 16:16] pplonski commented on #86
Is there an option to pass encoding as an argument?

[2020-04-16 19:33] tlapusan commented on #86
@parrt we do have example for categorical nodes, but not in the readme page. we have them here, on titanic dataset (cabin_label feature): https://github.com/parrt/dtreeviz/blob/master/notebooks/tree_structure_example.ipynb.

Would be nice and helpful to create a github wiki, to document the library even better. Putting everything in readme is kind of hard to follow and browse, especially when libr

[2020-04-23 08:37] RainFung opened #87 "How to get exact number of every class in split leaf?"
Hello, i'm using the great tool for data analysing.  I want to know some exact number of every class in split leaf. Is there some method to get this number?
![image](https://user-images.githubusercontent.com/23121539/80077808-95937b00-8580-11ea-8b0d-8d496203b7a4.png)

How many green samples or yellow samples in circle?

[2020-04-23 09:46] tlapusan commented on #87
hi @RainFung, glad to hear that your are using the library.

you can use many methods to find out this information.
<img width="876" alt="Screen Shot 2020-04-23 at 12 38 59 PM" src="https://user-images.githubusercontent.com/12815158/80084419-85b76f00-855f-11ea-8665-e6b31c515726.png">

Please take a look at `ctreeviz_leaf_samples` method. It can display leaf information both in text and plot.
To ge

[2020-04-26 03:25] RainFung opened #88 "UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe6 in position 116: invalid continuation byte"
My feature name contains Chinese. It raise error below
[code]

[2020-04-26 07:00] RainFung commented on #87
Thanks sir. It solves my problem. My goal is find the most important fact which classify the binary datasets.

[2020-04-26 16:14] #87 closed

[2020-04-26 17:07] parrt commented on #88
Interesting. it's not clear what the error is since it's graphviz trying to print an error message.  Can you try finding that .dot file in your temp dir and running `dot -Tsvg -o foo.svg dotfilename` from the command line?

[2020-04-29 06:01] RainFung commented on #88
Hi sir, it raise `Error: dot: can't open dotfilename`.  How can i find where is the .dot file.

[2020-04-29 06:41] RainFung commented on #88
I  update the dtreeviz via conda `~/anaconda3/bin/pip install dtreeviz`. It solve my problem.

[2020-04-29 07:11] RainFung commented on #88
I find `feature_names` params raise the problem when there are some chinese in name.

[2020-04-29 17:23] parrt commented on #88
Yes, so look in the temp dir for the dot file and test that.

[2020-05-02 18:29] tlapusan commented on #83
hi @parrt

first visualization for xgb model :
<img width="1010" alt="Screen Shot 2020-05-02 at 9 17 29 PM" src="https://user-images.githubusercontent.com/12815158/80872422-874d0980-8cba-11ea-8268-c4057f4b3887.png">

The code needed several changes, but in the end I think it will be more maintainable and easy to add new models.
XGB decision tree API is quite weak in functionalities, it offers only

[2020-05-02 18:37] parrt commented on #83
Heh, cool. Sure. How about Monday. What time zone are you in? I'm in California UTC/GMT -8:00 hours

[2020-05-02 18:59] tlapusan commented on #83
Monday sounds good for me. I'm in Romania, GMT+3. I usually use this website to calculate different timezones : https://www.worldtimebuddy.com/. It says that California is -10... For me would be ok any time between 20:00 and 23:00 pm.

[2020-05-02 19:18] parrt commented on #83
Weird. that should be 11 diff. oh well. that website says it's 10 hours later for you. cool. Ok, how about I email you a zoom URL and we sync up on Monday at 12:00 noon for me and 22:00 for you?

[2020-05-02 19:29] tlapusan commented on #83
Sure, see you then

On Sat, May 2, 2020, 22:18 Terence Parr <notifications@github.com> wrote:

[2020-05-07 03:47] RainFung commented on #88
It raise new error now
[code]

[2020-05-07 03:55] RainFung commented on #88
I

Hello sir. How can i find what is the dot file path?

[2020-05-07 04:53] parrt commented on #88
Well,Google will be your friend here.  have you tried "where is my temp dir"?  But you don't need to because the error messages telling you precisely where the file is:

[code]

Does `/tmp/` sound familiar?

[2020-05-07 05:33] RainFung commented on #88
I run `dot -Tsvg -o foo.svg dotfilename` in `/tmp`. It raise `Error: dot: can't open dotfilename`.

[2020-05-07 15:32] parrt commented on #88
Try `dot -Tsvg -o /tmp/foo.svg` without `dotfilename`

[2020-05-10 18:28] chenhajaj commented on #86
Hi,
I'm also stuck at the same place. We need to use some categorical features in the tree.

[2020-05-10 18:30] parrt commented on #86
Hi @chenhajaj Cats are allowed but it shows their unique cat code at moment. So, we just need a way to indicate cat label but what if there are 10,000 labels?

[2020-05-10 19:30] chenhajaj commented on #86
Can you please direct me to the relevant code? I have one feature that is categorical with three possible values, had to convert it to dummy columns, and as you can expect you look bad when I plot the decision tree.

[2020-05-13 07:33] tlapusan commented on #83
hi @parrt

I've updated the code architecture based on our discussions, so now ShadowDecTree is an abstract class for Sklearn and XGBoost subclasses. Also visualization's methods take as main parameter the shadow tree object.

We have some more visualizations for XGBoost model. I still have some more work to do (like implement more methods for XGBoost subclass, add docs, additional checks for othe

[2020-05-13 17:41] parrt commented on #83
Wow! Looking really good.

As far as the user interface, I wonder if it would be helpful to users to (1) pass in a sklearn/xgboost tree directly and (2) passing a shadow tree.  The latter case is useful when you have lots of things to ask the same shadow tree, which avoids having to re-create it all the time. On the other hand, I'm not sure it's going to matter much and people might just find it e

[2020-05-14 07:01] tlapusan commented on #83
hi @parrt,
(1) sklearn/xgboost tree
- the main advantage would be that the API will remain the same for the library
- but, it'a a little "annoying" to introduce the same set of parameters for each visualization, ex. dtreeviz(model, x_dataset, y_dataset, features, target, classes, args*)
- like you said, the cost of initializing the shadow tree for each method call.

(2) shadow tree
- downside woul

[2020-05-15 17:52] parrt commented on #83
Hiya. But why not hide all that from the user? They pass in *either* shadow or real model and we deal with it internally.

[2020-05-17 08:55] tlapusan commented on #83
Hi, you're right, we can deal it internally, and don't double the methods number

[2020-05-18 10:55] Mikemraz commented on #83
Great work! @tlapusan, is your implementation going to support lightGBM? if so, when would you release it?

[2020-05-18 14:14] tlapusan commented on #83
Hi @Mikemraz, right now we are working to add xgboost to the library. We have good progress, but still we have to work on it. After that, we can switch to lightGBM.
Did you tried scikit-learn version for decision trees ? or are you interested only in lightGBM ?

[2020-05-19 01:22] Mikemraz commented on #83
Thanks for your responce @tlapusan. We have tried scikit-learn version of decision trees and your framework works perfect except it does not support displaying Chinese characters. And In our case, We are only interested in visualizing lightGBM. Please let me know once you have completed the implementation for lightGBM.

[2020-05-24 08:52] chenhajaj commented on #26
Any solution? I even considered not using colors, but when I add None to the color_blind_friendly_colors array (colors.py), I get the following error:
 color_map = {v: color_values[i] for i, v in enumerate(class_values)}

TypeError: 'NoneType' object is not subscriptable

[2020-05-24 16:00] parrt commented on #26
In principle, just add another list of colors so this works:

[code]

[2020-05-24 16:09] chenhajaj commented on #26
I have 30 classes. I don't really care about colors, they can all be represented by the same color.
Can I make it work?

[2020-05-24 16:42] parrt commented on #26
See if you can set `dtreeviz.color_blind_friendly_colors[30+1] = [c]*30` for some color `c`.

[2020-05-24 19:59] chenhajaj commented on #26
Worked, thanks :)
Had to change the NUM_BINS array as well

[2020-06-03 13:36] qrsforever opened #89 "why model need fit twice"
https://github.com/parrt/dtreeviz/blob/be7fccefbf46012b0403495adb91717b2cbc76b2/dtreeviz/shadow.py#L43

if not regr.fit(X_train, y_train) before dtreeviz, report error:
AttributeError: 'DecisionTreeRegressor' object has no attribute 'tree_'

why not using hasattr to check:

[code]

[2020-06-03 17:32] parrt commented on #89
oh!You are correct! Do you want to send a pull request? thanks for catching this

[2020-06-05 08:57] #89 closed

[2020-07-01 18:30] gnavvy commented on #83
Hi @tlapusan, could you share if there're any updates on the xgboost support? We are evaluating whether to build our own version or if there's a WIP version that we can build on top. Thanks!

[2020-07-01 18:39] parrt commented on #83
@gnavvy xgboost is almost ready. @tlapusan and I are doing code review tomorrow.

[2020-07-01 18:42] tlapusan commented on #83
Hi @gnavvy, I'm glad that you have interest for xgboost. Yes, we are almost ready to release xgboost version, I assume in a few days. Would be really helpful to have a feedback from your side after we make the release.

[2020-07-01 20:01] parrt commented on #83
@tlapusan is the branch https://github.com/tlapusan/dtreeviz/tree/support_other_tree_models_%2383 ? @gnavvy wants to peek.

[2020-07-01 21:08] tlapusan commented on #83
@parrt yes, that should be the right branch

[2020-07-11 17:36] #83 closed

[2020-07-12 09:54] tlapusan commented on #83
hi @gnavvy , we've just merged the xgboost into master. Would you or your team have time to give it a try ? Feedback/suggestions for us is very important right now. You can take a look into dtreeviz_xgboost_visualisations.ipynb for more details.

[2020-07-12 10:10] tlapusan commented on #15
hi @hcho3 ,  @martin-loetzsch , @H4dr1en
we've just merged xgboost implementation into master. Before making a new release, would be helpful to have a feedback from your sides.

You can track more comments from https://github.com/parrt/dtreeviz/issues/83 and https://github.com/parrt/dtreeviz/pull/91

For more details about visualizations, you can take a look at https://github.com/parrt/dtreeviz/bl

[2020-07-12 21:49] gnavvy commented on #83
Tested it locally and worked out-of-box, thanks for the great work! @tlapusan and +100 for abstracting the ShadowDecTree class out. Could you publish a new version on PyPI so we can install and test with real data?

[2020-07-12 21:51] gnavvy commented on #83
Here is my brain dump after glancing through the code:

The `ShadowDeCTree` expects `tree_model`, `x_data`, and `y_data` among other args as input. This works if the features, target, and the trained model are locally available but might not be scalable where a large scale-data is trained in a distributed fashion (e.g. [XGBoost4J-Spark](https://xgboost.readthedocs.io/en/latest/jvm/xgboost4j_spark_

[2020-07-12 23:20] parrt commented on #83
@gnavvy how common is the distributed spark case?

Sounds complicated to allow data that doesn't fit in memory.  Maybe that should be the role of the xgboost spark model; i.e., when asked for a piece of data, it finds it remotely, pulls it over, and returns it to dtreeviz.

[2020-07-13 00:37] gnavvy commented on #83
Pretty much all of our production use cases that use a tree model are on xgboost + Spark, trained & inferenced in parallel.

Yes, I agree that the on-demand data fetching logic is out of the scope of dtreeviz.

I was wondering if we can make `X_train`, `y_train` optional at the `class_split_viz` and `regr_split_viz` function level. If the whole data array is presented, we draw the scatterplot / pi

[2020-07-13 06:48] tlapusan commented on #83
hi @gnavvy, thanks for your feedback. The dtreeviz(args) visualization method wasn't implemented for distributed ML model or very large models, it can have some challenges for plotting. Your suggestions make sense for me, let us few days to think about it, maybe we can find a solution and to improve it ;)

Does XGBoost4J-Spark have the same API as default XGBoost ? I'm asking because I don't know

[2020-07-15 17:22] parrt commented on #83
@tlapusan @gnavvy Maybe we should push this version out as 1.0 and see what people do with it?

[2020-07-15 18:38] tlapusan commented on #83
Agree! 👍

[2020-07-15 18:39] parrt commented on #83
Ok, adding to my list for tomorrow AM when my brain works :)

[2020-07-15 22:25] gnavvy commented on #83
Please, cannot wait to give it a try.

[2020-07-16 17:52] parrt commented on #83
And....we're live! @tlapusan @gnavvy

[2020-07-16 17:52] parrt commented on #83
@tlapusan do you want to post in the xgboost thread about this to see if they respond? If not, I'll contact directly.

[2020-07-16 18:02] tlapusan commented on #83
I think we can try both :) I will post in that thread

[2020-07-22 21:41] thvasilo commented on #83
Hello @parrt  and @tlapusan I skimmed your [explanation of the visualizations](https://explained.ai/decision-tree-viz/index.html) as I'm trying to take a look at the new [XGBoost visualization](https://github.com/parrt/dtreeviz/blob/master/notebooks/dtreeviz_xgboost_visualisations.ipynb).

It's a new topic for me so my question is: Is the visualization aimed at single decision trees? How are (pote

[2020-07-22 21:49] thvasilo opened #92 "Interactive visualizations?"
Hello,

Thanks for the really cool project!

Looking at your visualization the first thing that jumped in my mind was how cool it would be if the visualizations had some form of interactivity through Bokeh or other libraries so users could hover over the figures and get extra information or interact with the models themselves.

Are there any plans to support something like that in the future?

[2020-07-22 22:55] parrt commented on #92
Good idea. Sounds like plotly is free now. Only issue is the layout is buried in graphviz stuff. Might be hard to do anything interactive.

[2020-07-23 11:58] tlapusan commented on #83
Hi @thvasilo,

Thanks for your comment.
Right now all the visualizations are based only on individual trees. You need to specify a 'tree_index' parameter to point to a tree from a tree ensemble. You could plot multiple visualization for different trees if you need...

[2020-07-28 11:19] MarkiMarki opened #93 "Decision rules"
Hi there,

First of all, thanks for this wonderful package! it works pretty well and the visualizations are awesome

Concerning my problem-
The tree's figures (**viz.view()**) and the "Prediction path of a single observation" (from wine example) works fine, but when i try using the ShadowSKDTree (from dtreeviz_sklearn_visualisations.ipynb and so) im getting an error msg-
 "No module named 'dtreevi

[2020-07-28 15:14] tlapusan commented on #93
hi @MarkiMarki,

thanks for you feedback.
can you give us more details, a sample code or screenshot would be very helpful.

I assumed that you tried the wine example from examples.ipynb notebook.
Here is my code containing ShadowSKDTree  implementation :
<img width="1338" alt="examples_notebook" src="https://user-images.githubusercontent.com/12815158/88685004-276dcf80-d0fe-11ea-8a8c-dbba80d591ab.p

[2020-07-28 16:03] MarkiMarki commented on #93
yes thank you-
I read and tried it
I'm adding a screenshot of one of my runs on my dataset (took off features' names from the nodes and the non-healthy group name)

![Untitled](https://user-images.githubusercontent.com/24315439/88689414-20958b80-d103-11ea-9531-d95c7a14b6f8.png)

As can be seen- the sum of features of the decision for the healthy group (below the pie's) are not correctly visible.

[2020-07-28 16:39] parrt commented on #93
Shouldn't that `trees.` be `dtreeviz...` ?

[2020-07-28 16:40] parrt commented on #93
@tlapusan i wonder if the display issue is a font problem?

[2020-07-29 06:46] MarkiMarki commented on #93
tried it.. doesn't seem to help

![Untitled1](https://user-images.githubusercontent.com/24315439/88765517-46607600-d17f-11ea-88d8-a06f31ce7e54.png)

Cant import nothing from **dtreeviz.models.shadow_decision_tree**

[2020-07-29 06:55] MarkiMarki commented on #93
so.. how do i extract the decision paths to a container for later use? (not solely by visualizations)
Somewhere in the source code?
@parrt @tlapusan have any thoughts?

(sorry for nudging guys but i'm definitely not an python expert)...

[2020-07-29 07:10] tlapusan commented on #93
@MarkiMarki  you can you sklearn API to extract the decision paths.
you can take a look :
1. https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html#sklearn.tree.DecisionTreeClassifier.decision_path
2. https://scikit-learn.org/stable/auto_examples/tree/plot_unveil_tree_structure.html

The last link contains a concrete example how to use decision_path.

[2020-07-29 07:33] tlapusan commented on #93
@MarkiMarki
![dtree_viz_issues](https://user-images.githubusercontent.com/12815158/88769909-b5d96400-d185-11ea-9f55-20d0703ff68a.png)

it seems that we already have many issues, some related, some unrelated to the library. What I would suggest for you, is to try to reproduce the examples from dtreeviz_sklearn_visualisations notebook.
By reproduce, I mean to write from scratch the visualization exa

[2020-08-03 07:05] tlapusan opened #94 "Spark Decision Tree support"
Spark community lacks almost entirely model tree interpretation. Would be helpful to add support into dtreeviz.

I've already started to work on it and implemented two visualizations :
<img width="921" alt="Screen Shot 2020-08-03 at 10 03 13 AM" src="https://user-images.githubusercontent.com/12815158/89154954-90c36780-d570-11ea-9eca-7451adde55ee.png">

[2020-08-10 11:16] zahs123 opened #95 "AttributeError: 'NoneType' object has no attribute 'predict'"
hi all i am not sure why i am getting this eror:
[code]

however i get the error:

---------------------------------------------------------------------------
[code]
why am i getting this?

[2020-08-10 17:55] parrt commented on #95
hmm...not sure. shadow_tree has become none for some reason.  Ah. I added an error msg:

[code]

in a spot to identify the issue. but we must not handle your boost model. what's it's type?

[2020-08-11 07:04] tlapusan commented on #95
Hi @zahs123, are you using the xgboost implementation from sklearn ? if yes, the library doesn't implement yet that xbgoost version, only the original one.

[2020-08-11 09:21] zahs123 commented on #95
yes i am using the xgboost sklearn.. is it in your pipeline to implement it? also does your method also include categorical one hot encoded variables? i am finding that my feature importance doesn't really match the tree output

[2020-08-11 10:30] tlapusan commented on #95
din't try with one hot encoded variable yet. How do you represent them ? as new columns for each feature's category ? if so, it should work, the library should see it as many new features.
btw, for decision tree it is not mandatory to use one hot encoders, it will work just fine with label encoding also.

[2020-08-12 16:30] zahs123 commented on #95
yes as new columns for each features category. ok please let me know when you plan to implement it for xgboost sklearn - can i ask what the xgboost non sklearn version is ?

[2020-08-13 08:53] tlapusan commented on #95
@zahs123 would you like to add an issue about implementing xgboost sklearn ? xgboost version 1.1.0+, but it may also work with other minor versions.

[2020-08-13 09:51] tlapusan commented on #94
hi @parrt ,

I implemented few more visualisations.
<img width="917" alt="Screenshot 2020-08-13 at 12 40 38" src="https://user-images.githubusercontent.com/12815158/90120024-009cd380-dd63-11ea-8a6b-9839ddeea7bf.png">
<img width="916" alt="Screenshot 2020-08-13 at 12 40 44" src="https://user-images.githubusercontent.com/12815158/90120036-0397c400-dd63-11ea-989b-7bccb0f74194.png">
<img width="918" a

[2020-08-13 17:04] parrt commented on #94
Yes, the subset is a nice way to handle but expensive for large sets. Hmm...not sure how to visualize. we might need a new kind of decision node visualization. Hard part is displaying many labels. Something that other dude was complaining about

[2020-08-13 23:38] hcho3 commented on #15
I filed a pull request in the XGBoost repository to mention dtreeviz: https://github.com/dmlc/xgboost/pull/6013. Thank you for the great work!

[2020-08-14 06:09] tlapusan commented on #15
Thanks @hcho3 for your support. Is there anything we can help with the demo, or is something internal to xgboost team?

[2020-08-14 06:19] hcho3 commented on #15
@tlapusan Mainly we want to put up a self-contained demo script that can be automatically run by our CI system. That way, any future changes of XGBoost won't break dtreeviz accidentally.

[2020-08-14 06:59] tlapusan commented on #94
Indeed, if the set of categories is very large, we can have display issues.. but most of the time the set of categories is pretty small.
Before building a new decision node, maybe we can wait for people feedback/complain about this potential issue, and meanwhile we can get more knowledge about how categories subsets are built.

[2020-08-14 17:05] parrt commented on #94
sounds a good plan. Thanks again for all your help

[2020-08-20 17:28] ultrajoules opened #96 "Can we use LightGBM?"
Can we use LightGBM?

[2020-08-20 17:58] parrt commented on #96
Hi.  Sorry, but at this time we don't support it.  We would welcome a pull request with support, though! :)

[2020-08-20 17:58] #96 closed

[2020-09-01 17:14] #94 closed

[2020-09-09 13:57] tlapusan commented on #83
hi @gnavvy, we will soon release a new version with spark support : https://github.com/parrt/dtreeviz/issues/94

If XGBoost4J-Spark has the same API as the Spark DecisionTree (mllib version), it should work also.
Regarding the big size of a Spark dataframe to build a ShadowDecTree...a workaround would be to take a small and representative sample and convert it into pandas dataframe. (I have an ide

[2020-09-09 17:15] gnavvy commented on #83
Thanks for the heads up and the example notebook.
We'll give it a try soon. (CC @mmui, @kenns29)

[2020-09-09 17:50] parrt commented on #83
Great! Thanks, @gnavvy.  If you can confirm there are no problems, we can do the full release.  we just want to have somebody outside of our team test it.

[2020-09-18 08:10] darshanputtaswamy opened #100 "pip3 install dtreeviz fails with error: [Errno 2] No such file or directory: 'cmake': 'cmake'"
creating build/temp.linux-x86_64-3.6/xgboost/plugin/updater_gpu
    copying xgboost/plugin/updater_gpu/README.md -> build/temp.linux-x86_64-3.6/xgboost/plugin/updater_gpu
    copying xgboost/CMakeLists.txt -> build/temp.linux-x86_64-3.6/xgboost
    copying xgboost/LICENSE -> build/temp.linux-x86_64-3.6/xgboost
    INFO:XGBoost build_ext:Building from source. /tmp/pip-build-2epm5102/lib/libxgboost.

[2020-09-18 08:26] Ashafix commented on #100
Looks like xgboost cannot be installed because cmake is missing.
Can you try to install cmake first and then xgboost separately?
https://stackoverflow.com/a/55825557/2776376

[2020-09-18 17:56] darshanputtaswamy commented on #100
Thanks @Ashafix , for the quick response. I was able to install dtreeviz successfully after installing the latest cmake and xgboost.
FYI, xgboost need cmake 3.13 or higher otherwise it will fail.

[2020-09-18 17:57] #100 closed

[2020-09-19 16:56] TranSirius opened #101 "[BUG REPORT] Bug when visualizing XGBoost classifier with only one booster"
Hi,

Thanks for your tools! It's really useful to demonstrate our trained decision trees.

How to fix w.r.t. the bug:

In class `ShadowXGBDTree`:
fix the following function
[code]

Best Wishes!
Zijun

[2020-09-19 16:59] parrt commented on #101
@tlapusan can you take a look?

[2020-09-19 17:56] tlapusan commented on #101
Hi @TranSirius, thanks for your comment, I will take a look in the next few days

[2020-09-20 16:16] gunthergl opened #102 "Replace (regression-)plot"
(How) Can I replace the node-plots from dtreeviz by a custom plot function from me?

So I opened a [stackoverflow-question](https://stackoverflow.com/questions/63968652/dtreeviz-replace-plot-regression-too-many-points) yesterday but it seems to be ill-posed (as I only got 10 views until now), so I decided to bother here directly.

Best regards

[2020-09-20 17:30] parrt commented on #102
unfortunately there's no way for you to pass in a custom plot. You would have to alter the software.

[2020-09-20 17:30] #102 closed

[2020-09-21 12:03] tlapusan commented on #101
hi @TranSirius,
Just to see if I've understood correctly, you have an `IndexError: too many indices for array` when you train a xgboost model with only one tree. When the model contains more trees, the code is working.

Is this your usecase ? a model with only one tree ?

[2020-09-21 23:24] TranSirius commented on #101
Hi @tlapusan

Thanks for your attention

Exactly! I got an IndexError when I try to visualize a XGBoost model  with only one tree using `dtreeviz.trees.dtreeviz(xgb_model, , d[features], d[target], features, target, class_names=['N', 'Y'], tree_index = 0)`, where `d[features]` are feature vectors, `d[target]` are target vectors, `features` and `target` are their name.

That's exactly my use case:

[2020-09-22 07:14] tlapusan commented on #101
Hi @TranSirius,

I've just created a PR. @parrt can we make a new release with this patch ?

@TranSirius would you like to share some thoughts about dtreeviz library? namely are you using it for work, personal development, which visualizations do you find the most useful for tree interpretation ?

Thanks again for finding this bug and creating an issue !

[2020-09-22 13:22] TranSirius commented on #101
Hi @tlapusan

Sure, thanks for your invitation! I'd like to share my opinion with you.

I am a researcher in the fields of Natural Language Processing and Data Mining and recently I am undergoing a study, in which I would like to demonstrate that our proposed neural methods can create high quality vectors in the semantic space, which can be naturally adopted by symbolic methods, such as decision t

[2020-09-22 16:35] #101 closed

[2020-09-22 16:39] parrt commented on #101
Thanks, @tlapusan.  @TranSirius  can you upgrade? I just pushed out 1.1.1 with this fix. Please let us know if it works!

[2020-09-23 11:30] tlapusan commented on #101
Sounds great, thanks for sharing this !

[2020-09-27 18:18] gjirokastrelbasanit34 opened #104 "Cannot build tree: Method rawCount([]) does not exist"
I am trying to visualise a pyspark `DecisionTreeClassifier()` (for binary classification) and encountering an error:

[code]

Where the stage 2 of `MyPipelineModel` is an `DecisionTreeObject` object:

[code]
where the `features` are the `regressors_features_list`, already assembled by a `VectorAssembler`.

Here is the traceback that I'm getting after trying to run the first chunk:

[code]
(some st

[2020-09-28 09:54] tlapusan commented on #104
hi @gjirokastrelbasanit34,

at first, it seems to be a spark version problem... when we added spark to dtreeviz, we worked on spark 3.0.0.
I will take a deeper look in the next days.

Until then, would be possible for you to upgrade to spark 3.0 and to see if the error persist ? (I assume your code should also work with spark 3.0)

[2020-09-30 11:00] sergiocalde94 opened #106 "Spark v2.4 vs v3.0 issue. (Was AttributeError: 'Rectangle' object has no attribute 'patches')"
Hi, first of all, thank you very much for this library 👍

My code related to dtreeviz is:

[code]

I am trying to plot a decision tree model from pyspark following your notebook https://github.com/parrt/dtreeviz/blob/master/notebooks/dtreeviz_spark_visualisations.ipynb but it throws an error like this:

AttributeError: 'Rectangle' object has no attribute 'patches'

![image](https://user-images.git

[2020-10-01 07:21] tlapusan commented on #106
hi @sergiocalde94

we are glad that you like the library.
I have to take a closer look at the error, because I'm not sure why this is happening.

Can you tell us your Spark version ? Would be possible for you to run the code from the dtreeviz_spark_visualisations notebook at to see if the error is the same ?

[2020-10-01 10:42] tlapusan commented on #104
hi @gjirokastrelbasanit34,

I've checked both spark 2.4 and 3.0 APIs and the error is because of spark version. Spark 3.0 contains rawCount() method, but Spark 2.4 it doesn't. We will think how to solve this, because spark 2.4 is still used by a lot of people.

Until this is solved, would be an issue if you will upgrade to Spark 3.0 ?

Spark 3.0 API
  /**
   * Weighted number of data points accoun

[2020-10-01 11:15] sergiocalde94 commented on #106
Hi!

My Spark version is 2.4, I´ll also try your notebook code.

[2020-10-01 12:42] tlapusan commented on #106
thanks.
there is still an issue related to spark 2.4 version https://github.com/parrt/dtreeviz/issues/104.
When we implemented Spark in dtreeviz library, we used Spark 3.0. Still in progress how to support Spark 2.4

[2020-10-02 13:54] tlapusan commented on #104
@gjirokastrelbasanit34 I've just created a PR for Spark 2 support.

@parrt can you check #107 PR and make a new release ? I assume majority of people are using Spark 2, since Spark 3 was released in the last months.

[2020-10-02 18:09] parrt commented on #104
Closed by https://github.com/parrt/dtreeviz/pull/107 right?

[2020-10-02 18:49] tlapusan commented on #104
I would wait a little(1-2 days) after @gjirokastrelbasanit34 to test/confirm it.

[2020-10-02 18:53] parrt commented on #104
haha. too late. thought he'd checked it. we can do 1.1.3 if we need to fix. i didn't tweet anything

[2020-10-02 20:43] georgezoto opened #108 "!pip install dtreeviz fails on Kaggle notebook"
Hello dtreeviz team,

I wanted to use your cool library on my kaggle notebook but it is failing installation:
[code]
![image](https://user-images.githubusercontent.com/16548373/94967974-165e8780-04ce-11eb-9672-df076cfbeeab.png)

Here is a link to my public notebook: https://www.kaggle.com/georgezoto/intro-to-ml-underfitting-and-overfitting

Do you you have any ideas how to make this work in a kagg

[2020-10-02 21:51] parrt commented on #108
that's weird.  There must be something about the Kaggle environment that prevents it from dragging in new pip packages. That doesn't look to be a dtreeviz issue.  That looks like `!pip` is failing from the commandline

[2020-10-04 12:09] nmandic78 opened #109 "Path problems"
On windows 10, graphviz, dtreeviz installed, dot is here, env variables set, but getting error with view and save functions.

**Trying unmodified sample (https://github.com/parrt/dtreeviz/blob/master/testing/iris.py), I get error:**
graphviz.backend.ExecutableNotFound: failed to execute ['dot', '-Tsvg', '-o', '/tmp/t.svg', '/tmp\\t'], make sure the Graphviz executables are on your systems' PATH
on

[2020-10-04 13:29] nmandic78 commented on #109
Addendum:
Using graphviz functions, it works. So dot is doing its job and I'm even more inclined suspecting path formatting problem...

viz = dtreeviz(clf, X, y,
                target_name='target',
                feature_names=iris.feature_names,
                class_names=list(iris.target_names))

g = graphviz.Source(viz.dot, format='svg')
g.view()
g.render('tree2') # render and save SVG

[2020-10-04 16:02] parrt commented on #109
Yeah, it looks like `['dot', '-Tsvg', '-o', '/tmp/t.svg', '/tmp\t']` is doing `/tmp\t`,  which will be a problem.  thanks for letting us know!

[2020-10-05 08:01] tlapusan commented on #108
hi @georgezoto,

all you need to do is to enable internet for your kernel (from your kernel -> Setting -> Internet ON).
I've copied your notebook, edit it and it worked.

Let's us know if it worked for you !

[2020-10-05 11:42] gjirokastrelbasanit34 commented on #104
No, I haven't done/checked up anything until now, alas.
I just apologise for visiting GH not so frequently)

But fortunately, your suggestion works - on Spark 3.1, this error no longer emerges.
Switching versions itself is not a problem for me, I have been previously using Spark 2.4 version only due to an error (irrelevant to this issue) that I ran into when trying to launch Spark for the first ti

[2020-10-05 18:25] tlapusan commented on #104
hi @gjirokastrelbasanit34, would be nice if you can test for Spark 2.4.
You just need to install the newest dtreeviz version, 1.12.

I'm using mac...so would be hard to reproduce your issue unfortunately. I do remember I had graphviz issues in the beginning and I solved them by "pip install pygraphviz --install-option="--include-path=/usr/local/include/graphviz" --install-option="--library-path=/u

[2020-10-08 16:51] parrt commented on #104
Sounds like dot issue is #109.

[2020-10-08 16:53] parrt commented on #108
@georgezoto did that work?

[2020-10-08 17:47] georgezoto commented on #108
Thank you @tlapusan and @parrt, after enabling internet connection on my kaggle notebook, the installation progressed.
I see another package related issue though that is breaking the full installation. Any idea how to resolve this? !pip install dtreeviz is the only external library I am downloading and installing in this notebook.

[code]

![image](https://user-images.githubusercontent.com/1654837

[2020-10-08 18:06] parrt commented on #108
something is weird. mxnet requires an old version of graphviz. hmm.. maybe it will be okay without that.  I tried the `--use-feature=2020-resolver` on pip and all is well.

The error you are seeing with `run` likely means it has a previous version of graphviz.  I'm not sure why that would be. Maybe try asking for `graphviz.__version__` at runtime?  who knows which version actually got installed

[2020-10-08 18:23] georgezoto commented on #108
!pip install dtreeviz --use-feature=2020-resolver seems to work with no issues @parrt

I am not sure if this is the right version
[code]

This command is still failing for me
[code]

[2020-10-08 18:38] parrt commented on #108
Definitely need 0.14.1 or above. pip says installing 0.14.2 so there is disconnect with your install vs your python execution.

[2020-10-08 20:37] georgezoto commented on #108
The issue is that this is the default environment in Kaggle @parrt
I tried the following:
[code]
[code]

[code]

[2020-10-08 20:38] georgezoto commented on #108
Does anyone have a Kaggle notebook installing dtreeviz and working so I can take a look at?

[2020-10-08 20:41] parrt commented on #108
Oh dang.  It's too bad that there environment doesn't have the newer stuff. Hmm... not sure how to get them to update.

[2020-10-08 20:42] parrt commented on #108
In principle, you could just avoid using the graphviz part but the import kind of screws that up as it needs a later version even if you don't execute the code. hmm... I suppose we could move the import.

[2020-10-09 19:04] gjirokastrelbasanit34 commented on #104
Hi @tlapusan , yes, all other visualisations work, but that is not a secret that the tree itself is the most valuable one.
So far, looking forward to obtaining the bugfix for #109.

[2020-10-09 20:32] parrt commented on #109
Ah. The example says to save as /tmp/t.svg, but that is simply a bad filename on Windows.  Given that I have to make the example work on at least one platform, I made it work on Windows and UNIX. So, this is not a bug in the software.  change that filename to `\temp\t.svg` or something from Windows and it should work.  please confirm

[2020-10-09 20:33] parrt commented on #104
@gjirokastrelbasanit34 #109 is not a bug.  User is sending a UNIX filename into dtreeviz on a Windows machine. Perhaps that is causing you issues here.

[2020-10-10 15:39] nmandic78 commented on #109
Well, this is strange. It must be something I did, but I don't know what.
Wish I would remember what packages I got updated in the meantime, but I don't.
First thing: I got new exception when running your (unmodified) example; iris.py :

Exception has occurred: TypeError
can't multiply sequence by non-int of type 'float'
  File "C:\Users\User\source\repos\AdaBoost_testing_1a\DecisionTreeVisualizat

[2020-10-10 23:27] parrt commented on #109
ok, closing since all seems to be well!  yeah, the examples are not super great and rigorously done.  Glad to be of service

[2020-10-10 23:27] #109 closed

[2020-10-12 08:49] tlapusan commented on #108
@georgezoto I've tried your notebook, installed dtreeviz library and run the visualization.
I've changed the tree depth to 3. I made no other modifications.
<img width="778" alt="Screen Shot 2020-10-12 at 11 43 15 AM" src="https://user-images.githubusercontent.com/12815158/95725541-78627e00-0c80-11eb-9d04-27da1de25388.png">

If your issues still persist, I would suggest cu create another notebook

[2020-10-12 16:20] georgezoto commented on #108
Thank you for giving this another try @tlapusan

I created a brand new notebook and limited the tree depth to 3 like you recommended here: https://www.kaggle.com/georgezoto/pip-install-dtreeviz-fails-on-kaggle-notebook

Unfortunately it is giving me the same error:
[code]
<img width="1527" alt="Screen Shot 2020-10-12 at 12 16 09 PM" src="https://user-images.githubusercontent.com/16548373/95768834-

[2020-10-12 16:25] parrt commented on #108
yes it definitely seems that Kaggle is behind.  Is there a way to run a pip upgrade on a package in Kaggle's environment?

[2020-10-12 16:59] georgezoto commented on #108
We have a winner 🎉 great suggestion @parrt
The underlying issue is an outdated graphviz version. You need to upgrade graphviz BEFORE importing it otherwise you will get use the outdated version in Kaggle (0.8.4) instead of the latest one 0.14.2

After this step dtreeviz is installed properly and is able to visualize your tree as long is its not deep.

[code]

Thank you friends for helping me troub

[2020-10-12 17:01] #108 closed

[2020-10-22 06:20] tlapusan opened #110 "Add support for LightGBM decision tree"
I will add here the progress of lightgbm implementation

[2020-10-22 07:24] tlapusan commented on #110
first visualization
![Uploading light_gbm_viz_leaf_samples.png…]()

[2020-10-29 16:36] muneebaizaz commented on #73
diplay(viz) will show every plot

[2020-10-29 20:52] parrt commented on #73
Hi. yeah, you'll Have to control which ones you want to show yourself. There's no way we can know a priori which ones you want. sorry.

[2020-11-11 08:54] oegedijk commented on #92
You  can check out my explainerdashboard library for interactively visualizing decision trees in random forests and xgboost models: [github.com/oegedijk/explainerdashboard](github.com/oegedijk/explainerdashboard)

[2020-11-11 15:34] hajimurtaza opened #111 "Better solution to solving path problem after installing graphviz for Windows."
1. Install windows package from: https://graphviz.gitlab.io/_pages/Download/Download_windows.html
2. Install python `graphviz` package
3. Add `C:\Program Files (x86)\Graphviz2.38\bin` to User path
4. Add `C:\Program Files (x86)\Graphviz2.38\bin\dot.exe` to System Path

[2020-11-25 20:52] parrt commented on #111
Thanks. cleaning up the readme.

[2020-11-25 20:53] #111 closed

[2020-11-25 20:54] parrt commented on #93
I'm going to close this and perhaps @MarkiMarki can submit new specialized issues. thanks everyone

[2020-11-25 20:54] #93 closed

[2020-11-25 20:54] parrt commented on #88
Did it work from the commandline?

[2020-11-25 20:54] #88 closed

[2020-11-25 20:56] parrt commented on #95
closing due to lack of activity

[2020-11-25 20:56] #95 closed

[2020-11-25 20:57] parrt commented on #92
I think I'm going to close this because we can't really rebuild this in an interactive toolkit.

[2020-11-25 20:57] #92 closed

[2020-11-25 21:01] #104 closed

[2020-11-25 21:30] parrt commented on #74
Added to dtreeviz:

[code]

[2020-11-25 21:36] #74 closed

[2020-11-25 21:39] parrt commented on #15
closing this as we have xgboost and @tlapusan  is working on lightgbm

[2020-11-25 21:39] #15 closed

[2020-11-29 11:24] fridrichmrtn commented on #108
I would like to just add, that the install/update is best done before loading/using any library. I know this might be obvious but took me a while today.

[2020-12-02 20:31] parrt opened #113 "labels too close to the axes overlap for classifiers"
We have this working for regression trees but not classifiers.

[2020-12-06 19:23] parrt commented on #86
Hi guys, we're thinking about how to solve this. Maybe we show up to some `n` labels or a specific subset of labels requested by user.

[2020-12-06 22:03] pplonski commented on #86
@parrt good idea! There can be many ways to handle categoricals, so only requested by user category labels can be displayed. Maybe it can be done similar way as in which class names are displayed? User gives a dict as an input argument:

[code]

[2020-12-07 09:20] oegedijk opened #114 "make xgboost optional dependency"
Hi there,

Would it be possible to make xgboost an optional dependency? Reason being that the package takes up a lot of space (>350MB), and presumably:
1. Users that **want** to visualize xgboost trees already have it installed
2. Users that **don't want** to visualize xgboost trees do not need to install it.

Main reason for asking is that this dependency makes it quite a bit more complicated to

[2020-12-07 09:27] oegedijk commented on #114
Just noticed that there is already a PR for this: #99

[2020-12-07 09:40] tlapusan commented on #114
Hi @oegedijk,

PR #99 wasn't functional... but one possible solution is suggested in the last comments. If you can make it work, it would be great.

[2020-12-07 11:21] oegedijk commented on #114
done: #115

[2020-12-07 19:08] #114 closed

[2021-01-04 20:00] oleg-savko opened #116 "Add support for Catboost decision tree"
It would be great if support for catboost model would be added.

[2021-01-05 18:06] saiwing-yeung opened #117 "Can we add version info in the distribution?"
Can we add version info in the distribution so that `dtreeviz.__version__` gives the version info? Thank you!

[2021-01-05 18:10] parrt commented on #117
Good idea

[2021-01-06 13:56] tlapusan commented on #116
thanks @oleg-savko for mentioning this. We will see when we can implement/add catboost, because the roadmap for dtreeviz is already pretty busy. Meanwhile, if you have time, we will be happy to accept a PR from your side with the implementation :)

[2021-01-07 16:22] yanhong-zhao-ef commented on #116
Would love to have Catboost supported through dtreeviz - will model the xgboost shadow tree class and see if a Catboost shadow tree class can be quickly spun up since Catboost is already using graphviz to plot trees at different nodes
https://catboost.ai/docs/concepts/python-reference_catboostclassifier_plot_tree.html

[2021-01-07 18:54] ranjithh opened #118 "Yes No labelling"
Is there a way to label the edges from nodes with "Yes" and "No" labels?

Something like this:
![image](https://user-images.githubusercontent.com/10229032/103932426-d4398780-5147-11eb-8c4d-0d0444c0a7e3.png)

[2021-01-07 19:33] parrt commented on #118
I don't believe we have any labels at this point.

[2021-01-07 20:28] tkravichandran opened #119 "TypeError: 'NoneType' object is not subscriptable"
I tried this command on kaggle environment:

[code]
I checked every single variable in the above command I inputted and to my knowledge it all works. There are no errors in the installation of `dtreeviz`. Any idea on where this error might be coming from? Could it be an issue? I saw a similar issue reported a while back regarding color and classes [here](https://github.com/parrt/dtreeviz/issues/26

[2021-01-07 20:39] parrt commented on #119
Hmm...seems `class_values` or `class_names` is None.  What does `y.iloc[samp_idx]` look like?

[2021-01-07 20:51] tkravichandran commented on #119
`y` is array of classes (2 classes only).

![image](https://user-images.githubusercontent.com/73032273/103943512-7fd7dd00-5132-11eb-8c92-0da234e6c12a.png)

I just restarted my kernel I am getting a [similar issue](https://github.com/parrt/dtreeviz/issues/108) again (shown below)... I thought I got rid of it but it showed up again. And `graphviz` is switched to `0.16`

**Error**

[code]

[code]

[2021-01-07 20:53] parrt commented on #119
make that a int not float :)

[2021-01-07 21:18] tkravichandran commented on #119
Didn't change :( same error still. Could it be the "graphviz" version? any ideas how to fix that "dependency" issue?
Current version is `0.16`.

![image](https://user-images.githubusercontent.com/73032273/103945902-2bcef780-5136-11eb-996d-be6c3bc18d89.png)

Also changed the variable in all the appropriate places from y --> y_star including the `dtreeviz(...) command.

[2021-01-07 21:25] parrt commented on #119
Ah.  the could be something with graphviz. I'm at 0.14.1. Hmm... anyway, sounds like you have a conflict with the latest version of graphviz with other stuff.  maybe try backing that down to 0.14.1?

[2021-01-07 21:36] tkravichandran commented on #119
Thanks for the super fast replies. Same error still. :(

Tried on a fresh kernel,
`!pip install 'graphviz==0.14.1' --force-reinstall`

Output seems "fine" :

[code]
`!pip install dtreeviz`  produces no error and just a warning

BUT the error still persists:

![image](https://user-images.githubusercontent.com/73032273/103947646-b9abe200-5138-11eb-8ec7-fc970458be8b.png)

[2021-01-07 21:37] parrt commented on #119
dang. ok, well thanks for the report. If you can attach a minimal data set and snippet of code that demonstrates the problem, I can solve it much faster.

[2021-01-07 21:56] tkravichandran commented on #119
Here you go: https://www.kaggle.com/thejravichandran/error-dtreeviz

It's a python notebook :( Hope that is ok. Used a dummy dataset and removed all the fluff. Please let me know. Thank You very much.

[2021-01-09 15:56] windisch opened #120 "Using dtreeviz with sklearn pipelines"
When the following `model`

[code]
is plugged into the function `dtreeviz.trees.dtreeviz`, this exception is raised:

[code]

Are there any plans to make sklearn's [pipelines](https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html) work for `dtreeviz`?

[2021-01-09 19:52] parrt commented on #120
Hi.  well a pipeline could have 30 different elements in it... it's up to you to pull out the specific model you'd like to visualize.

[2021-01-09 20:06] windisch commented on #120
Thanks for your quick response!

In my toy model above, the decision tree is at the end and cannot be pulled out of the pipeline as it needs all prior steps (in the toy example, only the imputing, but there may be more) to be executed. An example which may highlights my point is the following:

[code]

Here, pulling out the `DecisionTreeRegressor` would change the model, as  the decision tree in `

[2021-01-09 20:29] parrt commented on #120
[code]

[2021-01-10 14:38] windisch commented on #120
If I understand you correctly, it should work with the existing implementation. I don't understand how.

Using like that
[code]
will raise an `IndexError` in `dtreeviz.models.shadow_decision_tree.py` (probably because a feature is accessed which does not exist in `boston.data` as it is generated by `PolynomialFeatures`.

On the other hand, forwarding `model` itself to `dtreeviz` the `ValueError` f

[2021-01-10 17:59] parrt commented on #120
Oh sorry. you are right. If you are changing the structure of the data then you will need to pass the data coming out of the previous element of the pipeline to dtreeviz.  That is inconvenient, but you can easily just get another variable attached to the polynomial features object. I'm not sure there's much advantage to those pipelines and so I just manually process the data.  sorry I can't be mor

[2021-01-11 07:58] tlapusan commented on #120
@windisch I assume that sklearn Pipeline should have an API to obtained the trained dataset and the trained model.

I've made a little research, and this link may help : https://stackoverflow.com/questions/48743032/get-intermediate-data-state-in-scikit-learn-pipeline

Here is how to get the training data, using [fit_transform](https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipe

[2021-01-11 20:29] windisch commented on #120
@tlapusan: Thanks for your reply and your research! I have a similar workaround, however, I split the pipeline into to and then calling `fit_transform` only on the first part to not re-fit the tree model onto the new data. I was wondering (and that's actually the reason why I opened this feature request) whether all of this can (or should?) be done within `dtreeviz` internally, so that the user ca

[2021-01-11 23:19] yanhong-zhao-ef commented on #116
having a go at this https://github.com/yanhong-zhao-ef/dtreeviz/tree/catboost-dtree will keep on at it when I got some more time and hope to raise a PR soon :)

[2021-01-12 08:12] tlapusan commented on #120
@windisch definitely it's an idea we should discuss. thanks for mentioning it !

How do you think the API for dtreeviz should look to support sklearn pipelines ?

Right now, dtreeviz has support for sklearn, xgboost, pyspark (plans to add for lightgbm and catboost) and vizualisations methods are expecting arguments like these :
1. raw tree model, training dataset, features, etc
2. an implementatio

[2021-01-12 20:11] windisch commented on #120
Hi @tlapusan: Sounds great. I haven't put to much thought into how the API should look like, but I can dig a bit deeper into how `dtreeviz` handels models and data objects to eventually come up with a implementation proposal.  Can I come back to you in case of questions?

[2021-01-13 08:16] tlapusan commented on #120
@windisch sure, we can discuss on this topic. thanks.

please don't forget the other idea, of extracting the model, training dataset, features from Pipeline and use them in dtreeviz (as it is). For me, it sounds like a good approach :)

[2021-01-17 16:20] windisch commented on #120
@tlapusan: [This is](https://github.com/windisch/dtreeviz/commit/a11e52c74a8354d4940e7ee28539f60e8aa07ac8) how we may can make it work. What do you think? If this goes into the right direction, I will finish this up and will open a PR the next days.

[2021-01-18 14:05] tlapusan commented on #120
hi @windisch, I've looked over your code, I liked that you created also unit tests 👍
My thoughts about this approach :
1. we still need to initialize ShadowSKDTree with x_data, y_data, features, but they are not training dataset used by the model, they are the raw datasets. (a clear example can be seen in your pytest module) This can create confusion to the API and also the initialization process

[2021-01-20 18:02] yanhong-zhao-ef commented on #116
spent a few hours this morning working on this again and it is almost working for symmetric trees in Catboost https://github.com/yanhong-zhao-ef/dtreeviz/tree/catboost-dtree

[2021-01-21 19:34] windisch commented on #120
@tlapusan: thanks for your comments. I tried to make as less changes to `ShadowSKDTree` as possible, and extracting all necessary information in its constructor and then pushing it upstream seemed canonical to me. But you are right, in case of big pipelines, applying the transformation-part of the pipeline might be very time intensive.

To 1): Yes, `x_data` and `y_data` are not necessarily the tra

[2021-01-21 21:19] tlapusan commented on #120
Hi @windisch,
I'm also for some_helper version

[2021-01-22 09:27] oegedijk opened #121 "matplotlib error: normalize=None does not normalize if the sum is less than 1"
Getting this Warning when plotting a tree, unclear where exactly in the code it comes from, but it appear to be a [matplotlib warning](https://github.com/molu8bits/modsecurity-parser/issues/8):
[code]

So it seems that somewhere in the code a normalize=True should be explicitly passed (no stacktrace, so not sure where the warning comes from)

[2021-01-22 14:39] tlapusan commented on #121
hi @oegedijk, do you have the issues in some dtreeviz notebooks or your personal notebooks ?
It will help a little context to try to reproduce this issue, thanks

[2021-01-22 14:56] oegedijk commented on #121
This will reproduce the error (assuming you have `explainerdashboard` installed):

[code]

![image](https://user-images.githubusercontent.com/27999937/105506475-61451a80-5cca-11eb-82e1-f1b691619069.png)

[2021-01-22 14:57] oegedijk commented on #121
Could have something to do with plotting the tree with the test dataset instead of the training dataset maybe...

[2021-01-22 15:22] tlapusan commented on #121
thanks for above details, I will try to reproduce and to fix it

[2021-01-24 16:20] windisch commented on #120
@tlapusan: Whats the recommended place to put utitlities in `dtreeviz`?

[2021-01-24 18:39] parrt commented on #120
@windisch i think we have a utils.py

[2021-01-26 07:16] davcem opened #122 "Readme.md - Broken link to fast.ai's Introduction to Machine Learning..."
The link in the Description section to "fast.ai's Introduction to Machine Learning for Coders MOOC." (last sentence) is broken.

[2021-01-26 07:54] tlapusan commented on #122
thanks @davcem , good catch ! maybe fast.ai changed the course to another link.

I assume the hyperlink should go to https://course18.fast.ai/ml.html.  Is it correct @parrt ?

[2021-01-26 08:31] davcem commented on #122
You are welcome. Yes, I also thought that.
At least from my perspective, the course description looks good.
The "outdated" link is also used at the end of the Readme in section "Useful Resources".

[2021-01-26 17:02] parrt commented on #122
That sounds right, @tlapusan  :)

[2021-01-26 20:11] #122 closed

[2021-01-26 23:58] #117 closed

[2021-01-27 00:18] parrt commented on #119
For classifiers, you have to pass in class names. :)  `class_names=['class0','class1']`  generating an error message now

[2021-01-27 00:30] #119 closed

[2021-02-05 19:12] zahs123 opened #125 "how to interpret"
using the example you have given:

![Capture](https://user-images.githubusercontent.com/23192374/107078144-d0039700-67e5-11eb-95cd-63cad7228a4b.PNG)

how should i interpret, the first branch, when you say < and > is it where the arrow is (6.94).. traversing down are we showing teh feature (x axis) vs the dependent variable (yaxis)

just want to ensure i am interpreting it correctly.

[2021-02-05 19:15] parrt commented on #125
Hi.  The wedge and the vertical dashed line indicates where we are splitting the RM variable at the root. Notice that the left child is now using a different variable LSTAT, but the right  is using the same RM.  Means on the right can see that the node is testing only things that were to the right of 6.94.

[2021-02-05 19:15] #125 closed

[2021-02-06 15:37] windisch commented on #120
This can me closed! Thanks for merging!

[2021-02-06 17:30] #120 closed

[2021-02-15 10:47] Arpitkr95 commented on #108
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
mxnet 1.7.0.post2 requires graphviz<0.9.0,>=0.8.1, but you have graphviz 0.16 which is incompatible.
autogluon-core 0.1.0b20210210 requires graphviz<0.9.0,>=0.8.1, but you have graphviz 0.16 which is incompatible.
autogluon-c

[2021-02-16 20:03] juliangilbey opened #128 "shadow_decision_tree.py: importing from collections raises a DeprecationWarning in Python 3.9"
Hi there!

Running the tests gave the following warning:
[code]

The solution is to replace this line with:
[code]

[2021-02-17 07:36] tlapusan commented on #128
thanks @juliangilbey , we will check and replace it in the next PRs

[2021-02-17 08:50] HyukdongKim opened #129 "Dtreeviz recognize XGBoost classification model as regression model"
(I got help from a google translator. If there is any expression that looks rude, I apologize in advance.)

First of all, thank you for making a great library!

I tried to visualize XGBoost classification model.
But dtreeviz made result about regression.

This is my code.
[code]

I expected distribution graph and pie chart, but my code generated scatter chart.

![image](https://user-images.githubu

[2021-02-17 11:04] tlapusan commented on #129
hi @HyukdongKim, it's an issue from the library. thanks for creating an issue about it.

it's caused by how dtreeviz interprets the tree to be classifier or regressor. Fixed it, but it seems there are still few other issues.
I will come back when I will fix them.

[2021-02-17 16:29] parrt commented on #128
We'll have to do the "if version..." thing

[2021-02-17 17:24] juliangilbey commented on #128
Or a try/except block.  But `collections.abc` was introduced in Python 3.3, back in 2012, so it's probably safe to not do an "if version..." thing!

[2021-02-17 18:06] tlapusan commented on #128
I'm expecting also the collections.abc to return the same results as collections, but we have to test this.

[2021-02-17 19:30] juliangilbey commented on #128
`Sequence` is defined in `_collections_abc.py`.  Then `collections/abc.py` reads:
[code]
while `collections/__init__.py` reads, in part:
[code]
Alternatively, we could just run Python to find out:
[code]
So there you have it: `from collections import Sequence` makes `Sequence` be `collections.abc.Sequence`.

Best wishes, Julian

[2021-02-17 23:38] JohnM-H2O commented on #113
@parrt , is this the kind of thing you're talking about? Cut points are overlapping with axis bounds.
![image](https://user-images.githubusercontent.com/63073065/108282244-de877200-7146-11eb-96e2-0daf9defc109.png)

[2021-02-17 23:45] parrt commented on #113
hahah. yep. that's a good example. thanks!!!  Any chance you can send a tiny bit of code we can run as a test for that?

[2021-02-18 11:22] tlapusan commented on #128
thanks @juliangilbey for making this investigation

[2021-02-18 11:23] tlapusan commented on #128
@juliangilbey could you share a little in which use-cases are you using dtreeviz ? your answer would help us to better understand how the community is using it. thanks

[2021-02-18 12:34] juliangilbey commented on #128
Hi @tlapusan, I've just started working with decision trees and random forests for the first time, and I'm using the Fastai book (https://github.com/fastai/fastbook) as a guide.  They introduce `dtreeviz` in chapter 9, and it's great!  So I've just made a preliminary package of it for Debian and am using it to help me understand the strange data I have.

[2021-02-18 18:58] JohnM-H2O commented on #113
Yes, sure. Thanks for testing!

[code]
![Screenshot 2021-02-18 at 12 56 30](https://user-images.githubusercontent.com/63073065/108407057-d7b13b80-71e8-11eb-8090-c15f26b91d54.png)

[2021-02-24 14:08] tirkarthi commented on #128
I have created PR https://github.com/parrt/dtreeviz/pull/130 to fix this. Since setup.py mentions that python 3.6+ is required using collections.abc directly will fix the issue.

[2021-02-24 21:49] #128 closed

[2021-03-09 21:57] JalajPatidar opened #131 "Exception thrown when calling dtreeviz() on trained XGBRegressor model"
call
model = xgb.XGBRegressor(**kwargs)

[code]

[code]

there are no 'NoneType' objects in the training data.

[2021-03-09 22:13] parrt commented on #131
hi.  I'm wondering if there are missing values in your data set? anything None in there?

[2021-03-09 22:28] parrt commented on #131
@tlapusan looks like `tree_index` is None maybe going into `xgb_decision_tree.ShadowXGBDTree` constructor.

[2021-03-10 09:16] tlapusan commented on #131
hi @JalajPatidar,

a xgboost trained model is made from multiple trees... so if you want to visualize a tree, you need to specify its index using argument tree_index. From your source code, I didn't see any tree_index argument.

you can look in this notebook for some examples of using xgboost with dtreeviz.

[2021-03-10 15:57] JalajPatidar commented on #131
It works! Thanks!

[2021-03-10 15:57] #131 closed

[2021-03-15 20:12] tlapusan opened #133 "Refactor predict() method from ShadowDecTree"
refactor based on comments from PR #112

[2021-03-17 07:15] tlapusan commented on #110
it was included in version 1.2, PR #112

[2021-03-17 07:15] #110 closed

[2021-03-17 07:40] mburaksayici opened #134 "Warning for tree index"
Was trying for LGBM regression tree. Huge thanks for this new feature. Forgot to add tree_index parameter, and couldn't see a warning that emerges me to specify tree index.

This gave me:

viz = dtreeviz(model,
               train[model_features] ,
               train[target] ,
               target_name='Cons',
               feature_names=np.array(model_features))

This:
---> 58         tree_d

[2021-03-17 11:28] tlapusan commented on #134
thanks @mburaksayici for this suggestion. It is perfect valid, we will implement it in the next PRs.

[2021-03-22 19:14] #134 closed

[2021-03-24 08:08] mattiasthalen opened #136 "LightGBM Multiclass Not Supported?"
When trying to use dtreeviz I get the error:
_objective multiclass num_class:5 is not yet supported by dtreeviz's lightgbm implementation_

What are my options here?

[2021-03-24 08:53] tlapusan commented on #136
hi @mattiasthalen

indeed, there is not support yet.. I have to look what work involves to add multiclass.

[2021-03-24 13:39] mattiasthalen commented on #136
@tlapusan got it, is there support in xgboost?

[2021-03-24 17:05] tlapusan commented on #136
unfortunately not, there is also an issues about it #129 :)

during development, I focused more on binary classification. But seeing that more and more people need support for multiclass, we will try to implement it faster.

if you want to give it a try for sklearn, it should have it implemented

[2021-03-24 17:25] mattiasthalen commented on #136
@tlapusan ok, can confirm it works in sklearn!

[2021-03-25 14:24] tlapusan commented on #136
@mattiasthalen I would like to reopen this issue, because it is still valid for lightgbm :) maybe I will have time in the future to solve it, or maybe some PR from others contributors.

[2021-03-25 15:24] mattiasthalen commented on #136
@tlapusan my mistake, I’m new to GitHub ☺️

[2021-03-26 07:33] mattiasthalen opened #137 "Plot n levels of tree"
Not sure where to put feature requests, so I'm trying it here.
Please correct me if I'm wrong :)

I have a tree that consists of 10 levels. Plotting this tree is a nightmare when it comes to readability.
So what I thought was that it would be great if we could set a max_depth for the tree plotting, so it only builds up to the specified levels.

What do you think?
Or would it be better to just trai

[2021-03-26 09:58] tlapusan commented on #137
hi @mattiasthalen, by creating an issue like this one, it is the right place for a new feature :)

if you want to reduce the max_depth, you can do this when you train the model.

indeed, it is not very easy to see what it's happening in a big tree if you plot its structure. That's why we created other visualisations likes  viz_leaf_samples, viz_leaf_criterion, deschibe_node_samples.
you can take a

[2021-03-27 12:18] apethani21 opened #138 "cannot import name '_no_output_draw' from 'matplotlib.backend_bases'"
Hello,

I'm using the `dtreeviz` function within `dtreeviz.trees` on a DecisionTreeClassifier model from `scikit-learn`,  and I get the error:

`ImportError: cannot import name '_no_output_draw' from 'matplotlib.backend_bases'`

**Versions**:

dtreeviz = 1.1.4
matplotlib = 3.3.4
scikit-learn = 0.24.1
graphviz = 0.16
python = 3.7.10

**Stack trace**:

[code]

[2021-03-27 15:35] parrt commented on #138
weird. can you try latest dtreeviz?

[2021-03-27 16:28] apethani21 commented on #138
So it turns out I thought I had dtreeviz 1.1.4 because I looked at `dtreeviz.__version__` and in the `version.py` it's set to 1.1.4. I do actually have 1.2 in my environment. Regarding my actual issue though, I just restarted my notebook and reran it, and strangely I did not get the above issue (I just got some graphviz issue but I resolved them), and now it works fine!

[2021-03-27 16:51] parrt commented on #138
oh sorry about that. I screwed up the version number in the source code.  thanks for finding the error! glad it is working

[2021-03-27 16:51] #138 closed

[2021-03-29 08:01] tlapusan commented on #137
hi @mattiasthalen, is my above comment a possible solution for you ? if yes, I would like to close this issue :)

[2021-03-29 08:30] mattiasthalen commented on #137
Yes!

I opted on just plotting the "prediction path" instead of showing the entire tree.

[2021-03-29 08:30] #137 closed

[2021-04-05 19:29] parrt opened #141 "Add shortcuts to the key methods"
Currently people have to import functions using nested packages but that's really just for our own organization and it makes it harder for people to use the library. For example, I added this for the new classifier feature space visualization to the initialization of dtreeviz package:

[code]

We should do this for all of the key methods.

[2021-05-06 18:57] Cattes opened #142 "Plot arbitrary tree"
Is it possible to use the package to visualize a regression tree without using a tree object resulting of the packages `scikit-learn`, `XGBoost`, `Spark MLlib` or `LightGBM` listed in the https://github.com/parrt/dtreeviz#description ?

I am working on a package that fits a logistic regression tree and I am looking for a plotting framework to use and your package is by far the best I could find.

[2021-05-06 19:24] parrt commented on #142
Hmm...we'd have to build an adaptor of some kind I'm afraid.  Is this one of your own libraries or another? thanks!

[2021-05-06 20:39] Cattes commented on #142
During my master I compared multiple methods for binary classification for a seminar paper and one is an algorithm that is only available as a FORTRAN 90 executable and I am writing a package around it to make it more accessible. So it is my own python library which is currently under development.

I was hoping that I could write an adaptor class on my own for your package if it is possible.

I wa

[2021-05-06 22:00] parrt commented on #142
we actually make a shadow tree to unify all models' trees.  You'd have to build an adaptor and pass the shadow tree in to our methods

[2021-05-07 09:12] benjamin-du opened #143 "memory error for big big trees"
Hi Terence,

first of all, thank you for this amazing library (and for the great blog articles you put out there).
I'm writing here because I experience an issue with a tree that has a big depth.
Would it be possible to somehow tell dtreeviz that we want to plot only the first part of such a tree (say, the first four splits) ? That would help avoid memory errors when the tree is too big and the st

[2021-05-07 12:25] tlapusan commented on #143
hi @benjamin-du,

would be possible to build the tree only with depth=4 and to visualize it ? It should be the same as making from dtreeviz to visualize only the first 4 levels... i think.

[2021-05-07 12:59] benjamin-du commented on #143
Hi, that's a good point, alas I don't have the hand on the training, I just have models stored for the last two years and cannot retrain them with arbitrary parameters without changing the company source code and saved results.
Thank you for your answer !

[2021-05-07 22:20] tlapusan commented on #143
In this case you have a valid request for making the visualizations adjustment from dtreeviz :)

[2021-05-08 10:20] Cattes commented on #142
Thank you for the help.

I will implement a new class similar to [ShadowSKDTree](https://github.com/parrt/dtreeviz/blob/829d5bceed998d547d4ffecdabdb73c778945f8d/dtreeviz/models/sklearn_decision_trees.py) or the others described in [the readme](https://github.com/parrt/dtreeviz#visualization-methods-setup) and then I can use `dtreeviz(my_curstom_shadow_class)` to plot my tree.

[2021-05-13 16:16] pplonski opened #144 "When installing dtreeviz with conda the pyspark is installed"
Hi!

I was installing dtreeviz with conda:

[code]

and I noticed that pyspark is installed - don't know why? I guess it shouldn't.

I'm on windows 10, python 3.8.5.

[2021-05-13 16:47] parrt commented on #144
Hmm...weird. It should only install the lib unless you use an option:

[code]

[2021-05-13 20:11] Cattes commented on #142
Hi @parrt
the implementation of a custom ShadwTree class worked very good for numerical splits, but I have a problem implementing categorical splitting.

The tree that I am trying to plot has splits of the form of `year in [74, 80]` instead of `year < 80`.

I adjusted the `get_node_split` method to return `[[74, 80]]` for the categorical splits, which allowed the plotting to finish without an erro

[2021-05-14 06:32] tlapusan commented on #142
hi @Cattes, looks promising ;)
you can take a look at lightGBM implementation : https://github.com/parrt/dtreeviz/blob/master/dtreeviz/models/lightgbm_decision_tree.py

There is a method is_categorical_split(). you can check how it is defined and where it is used to determine if to plot a categorical node.

[2021-05-24 05:20] HidenariUoi opened #145 "class name font could not change"
I want to change the fontname below.
But, only class name font could not change.

viz = dtreeviz(
    clf,
    iris.data,
    iris.target,
    target_name='variety',
    feature_names=iris.feature_names,
    class_names=iris.target_name ,
    fontname='IPAPGothic'
)

I think draw_pichart method in tree.py does not get new fontname.
https://github.com/parrt/dtreeviz/blob/master/dtreeviz/trees.py#L1

[2021-05-25 16:20] ssimmons9212 opened #146 "List index out of range error fix"
getting this error when attempting to pass my dataset through dtreeviz

IndexError                                Traceback (most recent call last)
<ipython-input-60-540c80b2eb63> in <module>
----> 1 viz = dtreeviz(clf, Xtrain_set, ytrain_set,
      2                 target_name="target",
      3                 feature_names=pkg_data.feature_names,
      4                 class_names=list(pkg_dat

[2021-05-25 16:28] parrt commented on #146
it can only handle 10 classes I think at the moment. how many do you have?

[2021-05-25 17:37] #146 closed

[2021-05-27 07:57] tlapusan commented on #143
I've added a parameter 'depth_range_to_display', which can take a range of depth levels to be displayed. Like in the picture bellow.

<img width="1014" alt="Screenshot 2021-05-27 at 10 55 31" src="https://user-images.githubusercontent.com/12815158/119787771-3b2ec180-beda-11eb-8e41-9b68167ec4b6.png">

@parrt what do you think ?

[2021-05-27 15:04] benjamin-du commented on #143
Hi,

great job ! Yes I still have access to the data. I'll try this feat and let you know how it goes.

thanks a lot!

[2021-05-27 16:08] tlapusan commented on #143
@benjamin-du this new functionality is not yet released. I will make a PR soon and if everything is ok, @parrt will make a new release

[2021-05-27 19:09] #143 closed

[2021-05-28 10:19] thatgeeman opened #148 "ShadowXGBDTree: 'Booster' object has no attribute 'save_config'"
The issue can be reproduced [here (collab)](https://colab.research.google.com/drive/1NX9ob3o1lpe2CHrEhd3O7vP15syQ9trK?usp=sharing). In the notebook, I call the modified class `ShadowXGBDTree__` for demonstration.
In this class, `_isXGB` is introduced as a boolean flag in `hasattr(booster, 'get_booster')` to correctly set the `booster` and `config` items. Non-breaking changes were made to `is_class

[2021-05-28 16:27] parrt commented on #148
Thanks, @thatgeeman !

[2021-05-28 17:27] tlapusan commented on #148
Hi @thatgeeman, I will have time to look on it in the early next week, hope it is not too late

[2021-05-28 21:11] thatgeeman commented on #148
No problem! thank you for looking into it @parrt @tlapusan

[2021-06-01 07:36] tlapusan commented on #148
hi @thatgeeman, nice that you created that notebook and I had your environment to check the issue.

The issue is that you are using an old xgboost version (0.9.0) and the save_config() method was added only from version 1.0 https://xgboost.readthedocs.io/en/latest/python/python_api.html#xgboost.Booster.save_config

Do you have the possibility to increase the xgboost version (I'm using 1.4.2) and t

[2021-06-01 07:57] thatgeeman commented on #148
@tlapusan Yes, you are correct! Upgraded to 1.4.2 and the methods work as expected :100:
Thank you for taking the time to go through it! :) I will close this issue now.

[2021-06-01 07:57] #148 closed

[2021-06-11 10:46] pplonski commented on #144
I just checked and on Ubuntu 20.04 it also install pyspark with dtreeviz ... very strange ...

[2021-06-11 10:55] pplonski commented on #144
The issue is that in conda recipe all additional packages are installed - there are no versions(extensions) like in pip. Take a look at https://github.com/conda-forge/dtreeviz-feedstock/blob/master/recipe/meta.yaml

@raybellwaves is it possible to add different versions of installations in dtreeviz in conda recipe?

[2021-06-11 15:21] raybellwaves commented on #144
I believe there is but it's not trivial. See airflow as an example https://github.com/conda-forge/airflow-feedstock/blob/master/recipe/meta.yaml

[2021-06-11 15:32] parrt commented on #144
Hiya. I only do the pip not conda install so I'm not sure.

[2021-06-25 18:46] reneverheij opened #150 "Update doc to indicate numeric targets required (Was: Value error with TfidfVectorizer and DecisionTreeClassifier)"
Hi,
I'm developing a classifier for documents using TfidfVectorizer and DecisionTreeClassifer (sklearn). I would like to use dtreeviz to visualize the resulting decision tree. I'm a bit stuck, and getting the folloing stacktrace:

[code]

My code looks roughly like this:
[code]
The last line is where the ValueError occurs. I'm guessing it has something to do with the type or dimensions of X, which

[2021-06-28 06:43] tlapusan commented on #150
hi @reneverheij ,

I think you are right, it should has something with the dimensions of X.
The error happens when it tries to build the node visualisation, in method class_split_viz(), at these lines :
`
X_hist = [X_node_feature[y_train == cl] for cl in class_values]

hist, bins, barcontainers = ax.hist(X_hist,
                                            color=X_colors,

[2021-06-28 07:38] reneverheij commented on #150
Hi Tudor,

You ask me to 'make some debug on it'. What kind of information are you looking for?

Thanks,
René

[2021-06-28 07:58] tlapusan commented on #150
I assume that the error comes from the way the X_hist variable is build using your dataset.
By debugging, I meant to take a closer look how this variable is build, either using the debugger from your IDE or simple put some print() in the library source code.

[2021-06-28 18:16] reneverheij commented on #150
I think I have found it. Is it possible, that dtreeviz assumes the y_data values to be of a numeric type, and that it can't handle string values?

[2021-06-28 18:21] parrt commented on #150
Just about all models assume numeric values I would say, but some might automatically do labeling coding for non-numerics.  Anyway, yes, we assume everything is numeric.

[2021-06-28 18:25] reneverheij commented on #150
I think that generally speaking, classifier models are happy to accept alphanumeric labels, at least SGDClassifier, MLPClassifier and DecisionTreeClassifier. I think you should consider supporting it, or at least mention this limitation in the documentation for your library.

[2021-06-28 19:04] parrt commented on #150
Hm... interesting. I could swear I used to get errors all the time if I didn't transform my target variable.

[2021-07-12 19:44] premsaggar opened #151 "dtreeviz IndexError for classifier with thousands of classes"
Hi, I love dtreeviz! I'm trying to use dtreeviz(clf) on a sklearn classfier that has thousands of classes! I'm getting:

IndexError: list out of range

Does dtreeviz support thousands of classes? What's the upper bound? Is there a workaround for many classes?

Thank you so much,
Prem

[2021-07-12 22:23] parrt commented on #151
Unfortunately, because we have to pick colors for the classes, it's currently limited to 10 :( sorry!

[2021-07-12 22:23] #151 closed

[2021-07-14 08:23] tlapusan commented on #150
Many of ML algorithms are supporting string labels, but behind they are labeling the data into numeric types.

@parrt I've created this PR : https://github.com/parrt/dtreeviz/pull/152
Do you think we should do something more than just updating the docs ? I've searched for pandas and np.ndarray something related to type hints... but didn't find a concrete solution.

@reneverheij I've updated the do

[2021-07-14 16:14] #150 closed

[2021-07-14 16:15] parrt commented on #150
Well, we can leave for now.  First time this has come up.

[2021-07-17 09:19] benelot commented on #26
Maybe allow to represent only certainty of the written class via the hue. Then you can either have hue="class_certainty" or hue="certainty", and it switches to hue="certainty" above 10 classes and probably drops a warning that it did.

[2021-08-16 07:26] Jie-Yuan opened #155 "support sklearn-LGBMClassifier?"
support sklearn-LGBMClassifier?

[2021-08-16 12:15] tlapusan commented on #155
hi @Jie-Yuan, from what I remember, only support for sklearn xgboost was implemented.

[2021-08-20 18:51] JnsLns opened #156 "feature_names missing when using sklearn's XGBoost wrappers"
When using the sklearn API for XGBoost with dtreeviz, the `feature_names` attribute of the booster object is None, leading to an Attribute Error.

I suspect this occurs since for sklearn's XGBClassifier and XGBRegressor, the booster attribute is filled at the outset of [ShadowXGBDTree](https://github.com/parrt/dtreeviz/blob/c436adac7c24a53097282f265e26efcb6ae437d8/dtreeviz/models/xgb_decision_tree

[2021-08-23 17:59] parrt commented on #156
Hmm...Thanks. Maybe @tlapusan can take a peek.

[2021-08-24 07:18] tlapusan commented on #156
thanks @JnsLns for raising this issue.

I've looked over the code and there is some issue.
Another solution would be to get the features from the list of features_names, sent as a parameter.
I don't remember/understand why I get the features from self.booster.feature_names...

@parrt, @JnsLns I've created this PR, https://github.com/parrt/dtreeviz/pull/157. It should solve the issue.

[2021-08-24 10:49] JnsLns commented on #156
Hi @tlapusan!
Thanks a lot for fixing and your great work on the library!
I will try out the fix asap. :)

[2021-08-29 16:53] gjirokastrelbasanit34 opened #158 "Will there be (is there) an .svg file export option?"
I can enjoy beautiful and informative dtreeviz visualisations for all major libraries when doing initial data inspection in Notebook, but this becomes infeasible if I conduct mass experiments which should be done in an ordinary python file in IDLE (visualization commands with .view() do not work as they do in Jupyter Notebook, leaving a constantly recreating blank window) and the generated picture

[2021-08-29 17:23] parrt commented on #158
Sorry...what is the question?

[2021-08-29 17:23] #158 closed

[2021-09-03 10:15] gjirokastrelbasanit34 commented on #158
Thanks for the answer, I deeply apologise for this totally blunt question, but I have always thought that the `.view()` and `.save()` methods implemented within `DTreeView` class only fit for Interactive Notebook environment, since every time when I call the `trees.dtreeviz()` in the standard python script, multiple windows continue to appear and clutter the screen view and I always thought that s

[2021-09-08 08:04] DJCordhose opened #159 "Fails when using tf.keras > 2.5"
We are checking if a model is a keras model here

https://github.com/parrt/dtreeviz/blob/master/dtreeviz/classifiers.py#L495

but starting from TensorFlow 2.6

'''model.__class__.__module__'''

gives

'''keras.engine.sequential'''

changing

''' if model.__class__.__module__.startswith('tensorflow.python.keras'):'''

to

''' if model.__class__.__module__.startswith('tensorflow.python.keras') or mo

[2021-09-09 22:43] #159 closed

[2021-09-13 06:17] pplonski commented on #144
I'm closing the issue. Right now there are two packages on conda-forge channel:
- `dreeviz` - it has required packages installed only https://anaconda.org/conda-forge/dtreeviz
- `dtreeviz-extended` - it has required and additional packages (lightgbm, xgboost, pyspark) installed https://anaconda.org/conda-forge/dtreeviz-extended

Package can be installed:
[code]
or in extended version:
[code]

The

[2021-09-13 06:17] #144 closed

[2021-10-29 10:21] 3ntr0phy opened #162 "Question : How to plot the complete emsemble ?"
Hello,
I would be interested to understand if there is a better way to represent the whole ensemble instead of iterating through the whole set of tree indexes manually.
Just for being clear I am trying to visualize XGB GBDT and RF :)
Thanks!

[2021-10-29 20:27] parrt commented on #162
Yeah, a great idea but really hard to figure out how we can implement this; I guess I will close it but thank you.

[2021-10-29 20:27] #162 closed

[2021-11-09 19:11] parrt opened #163 "graphviz 0.18 pip library removed `run()` function from backend"
Currently dtreeviz only works with 0.17 graphviz.  Check new source here: https://github.com/xflr6/graphviz/blob/master/graphviz/backend/execute.py

[2021-11-10 05:50] worthy7 commented on #163
So what are we supposed to do to make this all work then?

I sort of expected the conda dtreeviz package to "just work"

[2021-11-10 05:57] worthy7 commented on #163
(for anyone else) I did this as a workaround and it worked:

`conda install -c conda-forge python-graphviz=0.17`

[2021-11-10 16:27] gustavomrg opened #164 "error while using sklearn's XGBoost wrappers to plot dtreeviz"
I am training an XGBoost Model such as:

[code]

and I tried to plot the three such as:

[code]

which returns me:

[code]

So, I added the `tree_index` parameter following #156:

[code]

which prompts:

[code]

Am I missing something?

---
Versions:

python==3.8.12
scikit-learn==1.0.1
dtreeviz==1.3.1
xgboost==1.5.0

[2021-11-10 17:28] tlapusan commented on #164
hi @gustavomrg, what's the type of ftr_names ?

it should be a list.

[2021-11-10 20:12] gustavomrg commented on #164
Hi @tlapusan, thanks for the very fast answer. I made a change so it will become a list:

[code]

 however, I get the following error:

[code]

[2021-11-10 21:21] parrt commented on #164
I wonder how `run` became a module?

[2021-11-10 22:54] parrt commented on #163
Fixed by 90031de435247632b75292e862e9697bb06479ca

[2021-11-10 22:54] #163 closed

[2021-11-11 07:39] tlapusan commented on #164
@parrt Indeed, it's strange,  "run" is a function from builtins.py module.

@gustavomrg could you run the examples from these notebook ?https://github.com/parrt/dtreeviz/blob/master/notebooks/dtreeviz_xgboost_visualisations.ipynb
If the error persist, that means there is some project env issues. Thanks

[2021-11-11 10:25] Cattes commented on #142
Hi @tlapusan
Sorry for answering so late and for leaving a stale Issue. Life happened and I stopped tackling the problem of using the categorical splitting for now. You can close this Issue and If i continue work on my library and fix the plotting part I will update this Issue :+1:

[2021-11-11 14:06] tlapusan commented on #142
Hi @Cattes,
thanks for answering ;)

[2021-11-11 14:06] #142 closed

[2021-11-24 01:44] thvasilo opened #165 "Comparisons between trees ensembles?"
Hello,

I'm interested in visualizing differences between trees, so I was wondering if I could use some of the the primitives provided by dtreeviz to provide easily digestible "diffs" between trees. The idea is that I've trained an HPO job, and I want to decide which of the 5-10 best-performing models to use, based on some characteristics they might share or have difference.
For example, I might p

[2021-11-24 08:23] tlapusan commented on #165
Hi @thvasilo,

from the provided visualisations, the best I can think of for your use case are the tree leaves visualisations : https://github.com/parrt/dtreeviz#leaf-node-purity
Since the tree performance is given by its leaves, you could inspect them and make an idea if they are different...

Hope that it will help.
In the end, if you have ideas of how to better find differences between trees, w

[2021-11-24 17:58] thvasilo commented on #165
Thanks, I'll take a look at those and see what else I can come up with :)

[2021-11-24 17:58] #165 closed

[2021-11-29 18:16] thomsentner opened #166 "`sklearn.utils.compute_class_weight` incorrectly called by dtreeviz"
When trying to plot my tree, I got the following error:

[code]

Looking at [sklearn's documentation](https://scikit-learn.org/stable/modules/generated/sklearn.utils.class_weight.compute_class_weight.html), dtreeviz should have called the function as such:
[code]

I've implemented a monkey patch for myself, which resolves the error.

[2021-11-30 07:03] tlapusan commented on #166
Hi @thomsentner, I don't see a difference in proposed method call, it only uses named parameters, which is a default option in python.

Can you double check it please? Thanks

[2021-11-30 08:25] thomsentner commented on #166
Sklearn includes a star in its function definition:

[code]

As per [PEP 3102](https://www.python.org/dev/peps/pep-3102/), this means that any arguments right of the star are keyword-only arguments.

Some example code:

[code]

Output:

[code]

[2021-11-30 09:22] tlapusan commented on #166
Thanks @thomsentner, didn't know this feature. I'm in vacation right know. Will try to solve it soon

[2021-12-03 00:18] #166 closed

[2021-12-03 22:39] parrt commented on #164
I think this could be related to fix I made recently for 1.3.2 dtreeviz:

[code]

Maybe this will take care of the `run()` issue. @gustavomrg I think this will fix it so I will close it.

[2021-12-03 22:39] #164 closed

[2021-12-06 01:24] To-be-or-not opened #168 "AttributeError: module 'lightgbm' has no attribute 'num_trees'"
Hi all,
     I could run the  example 'xxx_lightgbm_xxx.ipynb''' well, getting every plot. But when I tried it with my code, I found a problem like 'AttributeError: module 'lightgbm' has no attribute 'num_trees''. Sorry for that, It should not be a general problem, but I did not make it clear what is the issue. It seems I did get the Booster well.
[code]
In File "/usr/local/lib/python3.9/site-pack

[2021-12-07 07:24] tlapusan commented on #168
Hi Xin,

Could you run these lines of code in both "xxx_lightgbm_xxx.ipynb" and your notebook ? Important to see if they will have the same outputs.

<img width="1088" alt="Screenshot 2021-12-07 at 09 20 39" src="https://user-images.githubusercontent.com/12815158/144984348-8453c99d-f90c-4e6f-8409-3409bb812713.png">

The error message "module 'lightgbm' has no attribute 'num_trees'" is a little str

[2021-12-07 12:57] To-be-or-not commented on #168
Hi Tudor,
     Thank you very much! Actually, What I was asking is a typing mistake. I input the model name wrongly. Now it is all fine.
     Thanks a lot for your nice and beautiful work!

Cheers,
Xin

[2021-12-07 14:43] #168 closed

[2021-12-09 16:29] munro opened #169 "IndexError: arrays used as indices must be of integer (or boolean) type"
Sorry, I don't have code to reproduce this yet, but here's the stack trace I'm getting.  It seems to occur when I have shallower trees, or maybe not enough samples on a leaf?  Because `DecisionTreeRegressor(min_samples_leaf=20)` will make this error message go away.

[code]

[2021-12-09 16:30] kw-john-prior commented on #169
I'm getting this error also.

[2021-12-09 18:24] parrt commented on #169
Hi. Weird.  somehow the samples must be coming back None or floats or something weird. Any chance we can get some code that reproduces the issue?

[2021-12-10 09:49] tlapusan commented on #169
Hi @munro, the 'samples' variable should contain the training set samples' indexes which can be found in a specific node (represented by id) from the tree.
node_X_data will extract only the samples from that specific node. The error happens when you want to extract those samples. It should be something wrong at 'sample' initialisation.
If you can make some debug to see what the 'sample' contain, i

[2021-12-17 02:08] shishuo16 opened #170 "install error"
Hi, I got an install error like below:
`brew reinstall graphviz
==> Reinstalling graphviz
==> Installing dependencies for graphviz: jpeg, libtiff, webp, gd, pcre, glib, jasper, netpbm, gts and libtool
==> Installing graphviz dependency: jpeg
==> Downloading https://homebrew.bintray.com/bottles/jpeg-9c.catalina.bottle.tar.gz
#=#=-#  #
curl: (22) The requested URL returned error: 502 Bad Gateway
Err

[2021-12-17 06:55] #170 closed

[2022-02-01 13:35] hugo-padovani opened #172 "Trying to visualize decision tree fitted with class weight, but got an error."
I`m trying to visualize decision tree fitted with class weight, but got the following error.

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
/var/folders/_x/jn2n6d5d2fx_r5dk4vgz3hs1bp6m_m/T/ipykernel_26821/2557380204.py in <module>
      9     class_names   = ["Detrator", "Neutro", "Promotor"],

[2022-02-02 10:37] tlapusan commented on #172
Hi @hugo-padovani, can you check your scikit-learn version? mine is 0.24.2.

compute_class_weight() method is from scikit-learn and in my case is working fine with 3 arguments.

Thanks.

[2022-02-02 15:17] tlapusan commented on #172
you could try it. At least let's see where the problem comes from :)

[2022-02-02 21:12] hugo-padovani commented on #172
It worked. Thank you!

[2022-02-02 21:12] #172 closed

[2022-02-08 15:30] wlandecker-nextdoor opened #173 "1.3.3 release timeline?"
Thank you for this helpful library! It looks like you've already started collecting commits for a 1.3.3 release, including [this fix](https://github.com/parrt/dtreeviz/pull/167), without which we can't use dtreeviz alongside the current sklearn. I'm curious if you have an anticipated release date for 1.3.3 in mind.

Thanks!

[2022-02-09 08:13] tlapusan commented on #173
@parrt any plans for this ?

[2022-02-09 08:15] tlapusan commented on #173
@wlandecker-nextdoor thanks ! I'm curious what you use the library for ?

[2022-02-09 14:54] wlandecker-nextdoor commented on #173
I work in ML transparency / accountability. I often need to understand the "how?" captured by a model, to explain its strategy. This happens both during the development phase ("does this model explanation sound like a plausible solution to the real problem, or does it point to some kind of sampling bias that I need to correct?") and the production phase ("these decisions may have been surprising,

[2022-02-09 17:40] parrt commented on #173
Pushing 1.3.3 now!

[2022-02-09 17:44] #173 closed

[2022-02-09 17:48] tlapusan commented on #173
Sounds great. Glad that dtreeviz can help you!

[2022-02-09 18:34] wlandecker-nextdoor commented on #173
Thank you so much!

[2022-02-17 03:32] bridgesra opened #174 "clfviz throws KeyError, points to color_map index."
I can't give away my data, but i can paste in the error. hopefully this helps.

X.shape = 39,2
y.shape = 39,
4 categories in y

[code]

[2022-02-17 08:42] tlapusan commented on #174
if it's already fixed, could you close the issue ? thanks

[2022-02-17 17:39] ghost opened #175 "IndexError: index 22093 is out of bounds for axis 0 with size 22093"
Hi dtreeviz,
I'm trying to visualise a decision tree of an XGBoost regressor model using ShadowXGBDTree().
I'm loading a pre-trained XGBoost model. I can visualise using graphviz and pydotplus, and thought ShadowXGBDTree() could be a nice way to access nodes, edges and build graphs about what the xgboost model is doing.

Can you advise what about my data is causing the Shadow tree to fail?
I can s

[2022-02-17 18:23] parrt commented on #175
Interesting. This is the second report we've seen with XGBoost. @tlapusan maybe this one helps us track it down?

[2022-02-17 22:21] MartyMcPayne commented on #175
Thanks for the reply and the label.
I've recently started using xgboost and it's sure weird compared to random forests.

[2022-02-18 06:51] tlapusan commented on #175
Hi @MartyMcPayne,

we had reported a similar issue few days ago and we didn't succeed to reproduce it using titanic dataset.

I want to ask you if you model/dataset can be shared with us? In this way we could reproduce the bug and try to fix it.

Thanks.

[2022-02-18 07:08] tlapusan commented on #175
@MartyMcPayne succeeded to reproduce the issues on my own dataset.
It was caused be pruning.

Will try to fix it in the next days.

[2022-02-18 08:08] MartyMcPayne commented on #175
@tlapusan that's great that you found the source of the bug! Fantastic.

[2022-02-19 20:00] p42ul commented on #72
For anyone else getting this error, this is due to how the example code imports the module.

If you run `from dtreeviz import *`, you won't get the necessary function.

Use `from dtreeviz.trees import dtreeviz` instead.

[2022-02-19 22:36] parrt commented on #72
Hi @p42ul I can't find `from dtreeviz import *`. Can you point me where to look? I'll fix it :)

[2022-02-21 19:26] badrisnps opened #177 "is multi-output decision tree supported?"
If I have a multi output decision tree, such as
https://scikit-learn.org/stable/auto_examples/tree/plot_tree_regression_multioutput.html
is this intended to be supported?

[2022-02-21 19:48] tlapusan commented on #175
@MartyMcPayne it should work now. Please follow this PR https://github.com/parrt/dtreeviz/pull/176

[2022-02-21 20:01] MartyMcPayne commented on #175
@tlapusan fantastic. Will check this out tomorrow (gmt) and let you know.

[2022-02-21 21:36] parrt commented on #177
hi. @tlapusan and I have not thought about this particular feature.  how common is it?

[2022-02-22 04:57] badrisnps commented on #177
I'm not sure how common it is, absolutely not as common as single target classification. People tend to work around it by making a model per target, but that results in sub-optimal results, but it does work.

[2022-02-22 11:38] MartyMcPayne commented on #175
@tlapusan @parrt works fine now! Successfully created shadow decision tree from xgboost.
Thanks! 👍

[2022-02-22 16:55] tlapusan commented on #175
@MartyMcPayne if you can double check its structure would be awesome.

I tested it and seems to be fine, but who knows... Thanks.

[2022-02-23 01:02] parrt commented on #72
no problem!

[2022-02-23 01:07] parrt commented on #177
Hmm...well, I'll leave as a feature request though likely not high in my priority list at moment.